
.txt_left { text-align:left !important;}
.txt_center {text-align:center !important;}
.txt_right {text-align:right !important;}

.b_list { clear:both; width:100%;border-collapse:collapse; color:#666; border-top:#000000 solid 3px;border-bottom:#888888 solid 1px; line-height:normal; font-size:15px; margin-bottom:15px; }
.b_list th { height:24px;line-height:20px;text-align:center; border:#e3e3e3 solid 1px;padding:13px 6px 13px 6px; white-space:nowrap; color:#444444;background:#f1f1f1;vertical-align:middle; }
.b_list td { height:24px;line-height:20px;text-align:center; padding:13px 5px 13px 5px; letter-spacing:0; border:#e3e3e3 solid 1px;vertical-align:middle; }
.b_list td a { color:#666; }
.b_list td a:hover { color:#df2e38; }
.b_list td.txt_left { text-align:left; padding-left:10px; letter-spacing:0; }
.b_list .notice { background:#FFF; color:#D12810; font-weight:bold; }
.b_list .notice a { color:#D12810; }
.b_list .r_none {}
.b_list th img{padding-bottom:2px;}
.b_list .td_btn{padding:5px 5px 5px 5px;}

.b_list2 { clear:both; width:100%; color:#666; border-top:#000000 solid 3px;border-bottom:#888888 solid 1px; line-height:normal; font-size:15px; margin-bottom:15px; }
.b_list2 th { height:24px;line-height:20px;text-align:center; border-bottom:#e3e3e3 solid 1px;padding:13px 6px 13px 6px; white-space:nowrap; color:#444444;background:#f1f1f1;vertical-align:middle; }
.b_list2 td { height:24px;line-height:20px;text-align:center; padding:13px 5px 13px 5px; letter-spacing:0; border-bottom:#e3e3e3 solid 1px;vertical-align:middle; }
.b_list2 td a {overflow:hidden;color:#666; }
.b_list2 td a.ellipsis { display:block;overflow:hidden; text-overflow: ellipsis; white-space: nowrap;width:98%;color:#666; line-height:26px;}
.b_list2 td a:hover { color:#df2e38; }
.b_list2 td.txt_left { text-align:left; padding-left:10px; letter-spacing:0; }
.b_list2 .link_txt{margin-left:10px;color:#000;font-size:14px;text-decoration:underline;}

.board_box{clear:both;overflow:hidden;}
.board_box .fl{width:48.5%;}
.board_box .fr{width:48.5%;}

.board_otherbox{clear:both;overflow:hidden;height:120px;border-top:#000000 solid 3px;width:100%;box-sizing:border-box;border-bottom:#888888 solid 1px;border-left:#dddddd solid 1px;border-right:#dddddd solid 1px;background:#f6f6f6;}
.board_otherbox ul li{float:left;width:25%;height:120px;line-height:24px;border-left:#dddddd solid 1px;box-sizing:border-box;padding:34px 0 0 27px;}
.board_otherbox ul li:nth-child(1){width:25%;border-left:none;box-sizing:border-box;}
.board_otherbox ul li .number{font-size:25px;color:#000;}
.board_otherbox ul li .number span{font-size:18px;}
.board_otherbox ul li.bg1{background: url('../img/common/board_otherbox_bg1.gif') no-repeat 180px 35px;}
.board_otherbox ul li.bg2{background: url('../img/common/board_otherbox_bg2.gif') no-repeat 180px 35px;}
.board_otherbox ul li.bg3{background: url('../img/common/board_otherbox_bg3.gif') no-repeat 180px 37px;}
.board_otherbox ul li.bg4{background: url('../img/common/board_otherbox_bg4.gif') no-repeat 180px 37px;}
.board_otherbox ul li.bg_g1{background: url('../img/common/board_otherbox_bg1.gif') no-repeat 230px 35px;}
.board_otherbox ul li.bg_g2{background: url('../img/common/board_otherbox_bg2.gif') no-repeat 230px 35px;}
.board_otherbox ul li.bg_g3{background: url('../img/common/board_otherbox_bg3.gif') no-repeat 230px 37px;}
.board_otherbox ul li.bg_g4{background: url('../img/common/board_otherbox_bg4.gif') no-repeat 230px 37px;}


/* pagination */
.pagination { position:relative;display:inline-block; clear:both; width:100%;height:35px; text-align:center; margin-top:20px; }
.pagination li { display:inline; width:35px;height:35px; margin:0 4px; overflow:hidden; }
.pagination li.num {color:#000;padding:0 15px; }
.pagination li.num span { line-height:35px; margin:0 2px; border:none; padding:0 10px; }
.pagination li.num span a{color:#000;font-size:16px;}
.pagination li.num span.on { color:#df2e38;  }
.pagination li.num span.on a{color:#df2e38;font-size:16px;text-decoration:underline;}
.pagination li.direction { border:none; padding:0;margin:0 20px; }
.pagination li img { margin-top:-1px; }
.pagination .fl_btn{position:absolute; top:-4px; left:0;}
.pagination .fr_btn{position:absolute; top:-4px; right:0;}

.popup .pagination { position:relative;display:inline-block; clear:both; width:100%;height:35px; text-align:center; margin-top:0;margin-bottom:10px;}
.popup .pagination li { display:inline; width:26px;height:26px; margin:0 4px; overflow:hidden; }
.popup .pagination li.num {color:#000;padding:0 15px; }
.popup .pagination li.num span { line-height:26px; margin:0 2px; border:none; padding:0 5px; }
.popup .pagination li.num span a{color:#000;font-size:16px;}
.popup .pagination li.num span.on { color:#df2e38;  }
.popup .pagination li.num span.on a{color:#df2e38;font-size:16px;text-decoration:underline;}
.popup .pagination li.direction { border:none; padding:0;margin:0 20px; }
.popup .pagination li img { width:26px;margin-top:-1px; }
.popup .pagination .fl_btn{position:absolute; top:-4px; left:0;}
.popup .pagination .fr_btn{position:absolute; top:-4px; right:0;}

/* board_search */
.board_search { clear:both; position:relative; width:100%; display:inline-block; text-align:left;padding:0 0; margin-bottom:10px;}
.board_search select, .board_search input, .board_search img { vertical-align:middle;}
.board_search .tbinput { position:relative; width:268px; height:45px; padding:0 5px; border:#999999 solid 3px;box-sizing:border-box;font-family: "nanumsquarer","NanumGothic";font-size:15px;}
.board_search .selecth { width:110px;font-size:15px; height:23px;}
.board_search .search_btn {display:inline-block;background:#999999;border:none;color:#fff !important;padding:0 22px;height:45px;line-height:45px;font-size:14px;vertical-align:middle;text-align:center;}
.board_search .total {margin-top:30px;color:#444444;}
.board_search .total span{color:#dc2425;text-decoration:underline;}

.board_search1 { clear:both; position:relative; width:100%; display:inline-block; text-align:center;padding:15px 0; margin-bottom:5px;border-top:#c9c9c9 solid 1px;}
.board_search1 select, .board_search1 input, .board_search1 img { vertical-align:middle;}
.board_search1 .tbinput { position:relative; width:200px; height:22px; padding:0 5px; border:#abadb3 solid 1px;}
.board_search1 .selecth { width:110px;font-size:12px; height:23px;}

.board_top{clear:both; position:relative; width:100%; display:inline-block; text-align:center;padding:0 0; margin-bottom:10px;}
.board_top .total {margin-top:30px;color:#444444;}
.board_top .total span{color:#dc2425;text-decoration:underline;}
.board_top .left { float:left; display:inline;}
.board_top .left span { margin-right:3px; }
.board_top .right { float:right; display:inline; }
.board_top .right span { margin-left:3px; }

.board_top2{clear:both; position:relative; width:100%; display:inline-block; text-align:center;padding:0 0; margin-bottom:0;}
.board_top2 .total {margin-top:15px;color:#444444;}
.board_top2 .total span{color:#dc2425;text-decoration:underline;}

/* board_view */
.b_view { clear:both; width:100%; color:#444444; border-top:#000000 solid 3px;border-bottom:#dddddd solid 1px; line-height:normal; font-size:15px;margin-bottom:10px;}
.b_view .subject { color:#000; font-size:16px;}
.b_view th { height:24px;line-height:22px;padding:13px 0; border-bottom:#dddddd solid 1px; padding-left:15px; text-align:left;}
.b_view th.bg{background:#f1f1f1;}
.b_view td { height:24px;line-height:22px;padding:13px 0; border-bottom:#dddddd solid 1px; padding-left:15px; text-align:left; }
.b_view td.txt_right { text-align:right; padding-right:10px;}
.b_view td a { color:#666; }
.b_view .view_text{border-bottom:none;}
.b_view .con { box-sizing:border-box;padding:10px 15px 10px 15px; min-height:100px;line-height:24px; }
.b_view .reply {padding:15px 0 35px 0;}
.b_view .reply_box { border:#dddddd solid 1px;padding:40px 50px 40px 70px; min-height:100px;line-height:24px;background:#f6f6f6 url(../img/sub/reply_icon.png) no-repeat 40px 40px; }
.b_view .text_box{box-sizing:border-box;padding:30px 10px;}
.b_view .text_box .img{padding-bottom:20px;}
.b_view .file a, .b_view .join a{text-decoration:underline;}
.b_view td.l_bar{background:url('../img/common/location_bar.gif') no-repeat left center;padding:0 0 0 4px;}
.b_view td.r_bar{background:url('../img/common/location_bar.gif') no-repeat right center;padding:0 4px 0 0;}
.b_view td.txt_center{ text-align:center; }

.faq { clear:both; width:100%; border-top:#000000 solid 3px;background:url('../img/sub/faq_bg.png') repeat-y 0 0;}
.faq .q { position:relative;overflow:hidden;clear:both; line-height:22px;border-bottom:1px solid #ccc; padding:0 0 0 0;background: url('../img/sub/faq_bl_off.png') no-repeat center right; }
.faq .q .title{float:left;text-align:center;width:33px;font-size:18px;font-weight:bold;color:#666666;padding:14px 0 0 10px;box-sizing:border-box;}
.faq .q .q_in {float:left;width:990px;box-sizing:border-box;font-size:14px; color:#666666;padding-top:14px;padding-bottom:14px;}
.faq .q .q_in a{color:#666666;width:100%;font-weight:400;display:inline-block;}
.faq .a { overflow:hidden;clear:both; padding:0 0 0 0; border-bottom:1px solid #ccc; background: url('../img/sub/faq_show_bl.png') no-repeat 195px 20px; }
.faq .a .title{float:left;text-align:center;width:33px;font-size:18px;font-weight:bold;color:#000;padding:22px 0 0 40px;}
.faq .a .a_in { float:left;padding:22px 0 22px 0; width:880px;font-weight:normal;line-height:24px; font-size:14px; color:#393939; }
.faq li.show{background:#f6f6f6 url('../img/sub/faq_bg.png') repeat-y 0 0;}
.faq li.show .q { position:relative; clear:both; line-height:22px;border-bottom:1px solid #ccc; padding:0 0 0 0;background: url('../img/sub/faq_bl_on.png') no-repeat center right !important; }
.faq li.show .q .title{float:left;text-align:center;width:33px;font-size:18px;font-weight:bold;color:#000;padding:14px 0 0 10px;}
.faq li.show .q .q_in {float:left;box-sizing:border-box;width:990px;font-size:14px; color:#000;padding-top:14px;padding-bottom:14px;}
.faq li.show .q .q_in a{font-size:14px; color:#000;width:100%;font-weight:400;display:inline-block;}
.faq .part{box-sizing:border-box;width:170px;float:left;text-align:center;height:36px;padding-top:14px;}
.faq .thtitle{background:#f6f6f6 url('../img/sub/faq_bg.png') repeat-y 0 0;overflow:hidden;height:50px;line-height:50px;border-bottom:1px solid #ccc;}
.faq .thtitle .title_part{box-sizing:border-box;width:170px;float:left;text-align:center;color:#000;}
.faq .thtitle .title_name{box-sizing:border-box;width:1030px;float:left;text-align:center;color:#000;}

/* board_write */
.b_write { clear:both; width:100%; color:#47494a; border-top:#000000 solid 3px;border-bottom:#dddddd solid 1px; line-height:normal;font-size:15px;}
.b_write th { height:24px;line-height:22px;padding:12px 0; border-bottom:#dadada solid 1px; padding-left:15px; text-align:left;background:#f1f1f1;color:#444444;vertical-align:middle;}
.b_write td { height:24px;line-height:22px;padding:12px 10px 10px 16px; border-bottom:#dadada solid 1px; text-align:left;}
.b_write .con { padding:15px; }
.b_write input.w_txt{ border:1px solid #cecece; height:18px; padding:0 5px; }
.b_write textarea.w_txt { border:1px solid #cecece; height:200px;width:92%; padding:0 5px; }
.b_write .file { padding-top:10px; }
.b_write .file li { padding:5px 0; }
.b_write .txt_center{padding-left:0; text-align:center !important;}
.b_write .l_bar{border-left:1px solid #dadada;}

.b_check { clear:both; width:100%; color:#47494a; border-top:#8b8b8b solid 1px; border-bottom:#8b8b8b solid 1px; line-height:normal; margin-bottom:10px;}
.b_check td { padding:10px 0 10px 0; border-bottom:#8b8b8b solid 1px; text-align:center;line-height:18px; }
.b_check input.w_txt{ border:2px solid #cecece; height:18px; padding:0 5px; }
.b_check td.bg{background:#d7ecf6;}
.b_check td.txt_left{padding-left:15px; text-align:left;}

/* board block */
.boardblock { clear:both;overflow:hidden;position:relative;width:100%;margin:10px 0 10px 0; text-align:center; font-size:13px; }
.boardblock .left { float:left; display:inline;}
.boardblock .left span { margin-right:3px; }
.boardblock .right { float:right; display:inline; }
.boardblock .right span { margin-left:3px; }
.boardblock .total {margin-top:30px;color:#444444;}
.boardblock .total span{color:#dc2425;text-decoration:underline;}

.gallery { clear:both; width:100%; border-top:#898989 solid 1px; color:#565656; border-bottom:#898989 solid 1px; line-height:18px; font-size:12px; margin-bottom:10px; }
.gallery ul { clear:both; width:100%; display:inline-block; padding:15px 0 10px 0; }
.gallery li { float:left; width:25%; text-align:center; }
.gallery li img { width:159px; height:117px; }
.gallery li .tit { width:159px;margin:0 auto; text-align:left; font-weight:normal; margin-bottom:5px; margin-top:5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.gallery li.none { text-align:center; padding:30px 0; width:100%; }

.tbl-form01{width:100%;clear:both;table-layout:fixed;width:100%; color:#444444; border-top:#000000 solid 3px; font-size:15px; margin-bottom:20px;border-collapse:separate; }
.tbl-form01 th{height:32px; line-height:24px; padding:10px 12px 10px 12px; border-bottom: 1px solid #e2e2e2; font-size:15px;color:#000;vertical-align:middle; }
.tbl-form01 td{height:32px; line-height:24px; padding:10px 12px 10px 12px; border-bottom: 1px solid #e2e2e2;color: #767676;vertical-align:middle;}
.tbl-form01 th { background:#f6f6f6;text-align:left;}
.tbl-form01.n-2 th:nth-child(1){width:20%;}
.tbl-form01.n-2 td:nth-child(1){width:80%;}
.tbl-form01 sup{font-size:15px;color:#df2e38;}
.tbl-form01 .textarea{display: inline-block; width:100%; padding:10px; font-size:14px; line-height: 22px; vertical-align: middle; color: #767676; border: 1px solid #cecece; background: #fbfbfb; box-sizing: border-box;font-family: "nanumsquarer";}
.tbl-form01 th label span{display:block;font-size:14px;color:#999999;}
.tbl-form01 .td_bg{background:#f6f6f6;border-left: 1px solid #e2e2e2;color:#000;letter-spacing:-0.04em;}
.tbl-form01 .valign_top{vertical-align:top;}
.tbl-form01 .point_txt{color:#dc2425;}
.tbl-form01 td.big_txt{font-size:20px;color:#000;}

.tbl-form02{width: 100%; table-layout: fixed; background-color: transparent; border-spacing: 0; font-size: 15px; border-top:2px solid #000;margin-bottom:10px;}
.tbl-form02 th{height: 32px; line-height: 24px; padding: 10px 10px 10px 17px; border-bottom: 1px solid #e2e2e2; border-top: none; color: #767676;vertical-align:middle; }
.tbl-form02 td{height: 32px; line-height: 24px; padding: 10px 40px 10px 17px; border-bottom: 1px solid #e2e2e2; border-top: none; color: #767676;vertical-align:middle;}
.tbl-form02 th { background:#f6f6f6;text-align:left;}
.tbl-form02.n-2 th:nth-child(1){width: 20%;}
.tbl-form02.n-2 td:nth-child(1){width: 80%;}
.tbl-form02 sup{font-size:15px;color:#df2e38;}
.tbl-form02 .textarea{display: inline-block; width:100%; padding:10px; font-size:14px; line-height: 22px; vertical-align: middle; color: #767676; border: 1px solid #cecece; background: #fbfbfb; box-sizing: border-box;font-family: "nanumsquarer";}
.tbl-form02.bar{border-top:3px solid #000;}

.tbl-form03{width:100%; table-layout: fixed; background-color: transparent; border-spacing: 0; font-size:15px; border-top: 1px solid #e2e2e2;margin-bottom:20px;}
.tbl-form03 th{height:28px; line-height:24px; padding:10px 12px 10px 12px; border-bottom: 1px solid #e2e2e2;font-size:15px;border-top: none; color:#000;vertical-align:middle;background:#f6f6f6;text-align:left; }
.tbl-form03 td{height:28px; line-height:24px; padding:10px 12px 10px 12px; border-bottom: 1px solid #e2e2e2; border-top: none; color: #767676;vertical-align:middle;}
.tbl-form03 sup{font-size:15px;color:#df2e38;}

.tbl-table01{width:100%; table-layout: fixed; background-color: transparent; border-collapse:separate;border-spacing: 0; font-size: 15px; border-top: 3px solid #000;margin-bottom:20px;}
.tbl-table01 th{height:32px; line-height:24px; padding:8px 10px 8px 17px; border-bottom: 1px solid #e2e2e2; border-top: none; color: #000;vertical-align:middle; }
.tbl-table01 td{height:32px; line-height:24px; padding:8px 10px 8px 17px; border-bottom: 1px solid #e2e2e2; border-top: none; color: #767676;vertical-align:middle;}
.tbl-table01 th { background:#f6f6f6;text-align:left;}

.tbl-table02{width:100%; table-layout: fixed; background-color: transparent; border-spacing:0; font-size: 15px;}
.tbl-table02 th{height:32px; line-height:24px; padding:8px 10px 8px 10px; border-bottom: 1px solid #e2e2e2; border-top: none; color: #000;vertical-align:middle; }
.tbl-table02 td{height:32px; line-height:24px; padding:8px 10px 8px 10px; border-bottom: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2;border-top: none; color: #767676;vertical-align:middle;background:#f6f6f6;}

.tbl-table03{width:100%;border-collapse:separate; border-spacing:0; font-size:15px; border-top:1px solid #dddddd;margin-bottom:20px;}
.tbl-table03 th{height:32px; line-height:24px; padding:8px 10px 8px 17px; border-bottom:1px solid #dddddd; border-top:none; color: #000;vertical-align:middle; background:#f6f6f6;text-align:left;}
.tbl-table03 td{height:32px; line-height:24px; padding:8px 10px 8px 17px; border-bottom:1px solid #dddddd; border-top:none; color: #767676;vertical-align:middle;}
.tbl-table03 .bubble{position:relative;display:inline-block;}
.tbl-table03 .bubble #bubble_txt{position:absolute; top:-190px; left:0;width:290px;height:120px;background:url('../img/common/bubble_bg.png') no-repeat 0 0;padding:40px 60px 40px 40px;}
.tbl-table03 .bubble #bubble_txt .bubble_txt_in{height:110px;overflow-y:auto;}
.tbl-table03 .checkbox_list {padding:10px 20px 10px 40px;}
.tbl-table03 .checkbox_list li{line-height:30px;}
.tbl-table03 .radio_list{padding:10px 20px 10px 40px;}
.tbl-table03 .radio_list input, .tbl-table03 .checkbox_list input{margin-right:5px;}
.tbl-table03 .radio_list li{float:left;width:20%;}
.tbl-table03 .radio_list li.wf100{width:100px;}
.tbl-table03 .masking{display:inline-block;width:60%;height:14px;margin-top:6px;background:#999999;}
.tbl-table03 .masking.wid50{width:50%;}
.tbl-table03 .masking.wid30{width:30%;}
.tbl-table03 .l_bar{border-left:1px solid #dddddd;}

.tbl-table04{width:100%; table-layout: fixed; background-color: transparent; border-spacing:0; font-size:15px;}
.tbl-table04 th{height:32px; line-height:24px; padding:30px 0 30px 0;font-size:18px; border-bottom:1px solid #dddddd; border-top: none; color: #000;vertical-align:top; background:#f6f6f6;text-align:left;}
.tbl-table04 td{height:32px; line-height:24px; padding:30px 0 30px 0;font-size:15px; border-bottom:1px solid #dddddd; border-top: none; color: #444444;vertical-align:middle;}
.tbl-table04 .td_first{padding-top:0;}
.tbl-table04 .td_last{border-bottom:none;padding-bottom:0;}
.tbl-table04 th span{font-size:15px;display:block;color:#999999;}
.tbl-table04 .qu{padding-bottom:10px;color:#000;}

.tbl-table05{width:100%; table-layout: fixed; background-color: transparent; border-spacing:0; font-size:15px;}
.tbl-table05 th{height:auto; line-height:24px; padding:10px 0 6px 12px;font-size:15px;color: #000;vertical-align:top; text-align:left;background:url('../img/sub/tbl-table05_bl.png') no-repeat 0 18px;}
.tbl-table05 td{height:auto; line-height:24px; padding:6px 0 6px 0;font-size:15px;color: #444444;vertical-align:top;}
.tbl-table05 th span{font-size:15px;display:block;color:#999999;}

.tbl_search{width:100%; table-layout: fixed; background-color: transparent; border-spacing:0; font-size:15px; border-top: 1px solid #dddddd;margin-bottom:20px;}
.tbl_search th{height:32px; line-height:24px; padding:8px 10px 8px 17px; border-bottom:1px solid #dddddd; border-top: none; color: #000;vertical-align:middle; background:#f6f6f6;text-align:left;}
.tbl_search td{height:32px; line-height:24px; padding:8px 10px 8px 17px; border-bottom:1px solid #dddddd; border-top: none; color: #767676;vertical-align:middle;}

.calendar_bt .datepicker{margin-left:-30px;width:24px;margin-right:10px;z-index:10;display:inline-block;}
.calendar_in{font-size:14px;width:210px;margin:0 auto;}
.calendar_in select {width:101px;}
.calendar_in .ui-calendar th:nth-child(1){width: 30px;}
.calendar_in .ui-calendar td:nth-child(1){width: 30px;}
.ui-calendar { clear:both; width:100%;color:#555;background:#fff;margin-top:10px;}
.ui-calendar th { font-weight:normal; height:30px; line-height:30px;padding:0 !important; color:#999999; text-align:center; color:#fff; text-align:center; background:#999999;}
.ui-calendar td {width:30px !important;height:30px !important; padding:0 !important;line-height:normal; text-align:center; vertical-align:middle; font-weight:normal;border:#dbdbdb solid 1px;color:#535353;}
.ui-calendar td span{padding:5px;display:inline-block;font-size:14px; }
.ui-calendar td:hover { background:#eff1f3; }
.ui-calendar td a{display:block;}
.ui-calendar .sun { color:#dc1708; }
.ui-calendar .sun a{ color:#dc1708; }
.ui-calendar .sat { color:#005bac; }
.ui-calendar .sat a{ color:#005bac; }
.ui-calendar .today { width:30px;height:30px;overflow:hidden;background:#999999 !important; color:#fff;}
.ui-calendar .on { width:30px;height:30px;color:#fff; overflow:hidden;font-weight:normal; background:#dd2f39 !important;}
.ui-calendar .on a{color:#fff;display:block;}
.ui-calendar .on p.txt{background:#2b4996;margin:1px 0;}
.ui-calendar .on p.txt a{color:#fff;display:block;padding:3px;}

/*
.tbl-form02{width: 100%; table-layout: fixed; background-color: transparent; border-spacing: 0; font-size: 15px; border-top: 2px solid #302f34;}
.tbl-form02 th{height: 40px; line-height: 40px; padding: 10px 10px 10px 10px; border-bottom: 1px solid #e2e2e2; border-top: none; color: #333333; vertical-align: top;}
.tbl-form02 td{height: 40px; line-height: 40px; padding: 10px 40px 10px 10px; border-bottom: 1px solid #e2e2e2; border-top: none; color: #767676;}
.tbl-form02.n-2 th:nth-child(1){width: 20%;}
.tbl-form02.n-2 td:nth-child(1){width: 80%;}

.tbl-form03{width: 100%; table-layout: fixed; background-color: transparent; border-spacing: 0; font-size: 15px; border-top: 2px solid #302f34;}
.tbl-form03 th{height: 40px; line-height: 25px; padding: 10px 10px 10px 10px; border-bottom: 1px solid #e2e2e2; border-top: none; color: #333333; background: #f6f6f6;}
.tbl-form03 td{height: 40px; line-height: 25px; padding: 10px 40px; border-bottom: 1px solid #e2e2e2; border-top: none; color: #767676;}

.tbl-form03 .list-file li {margin: 5px 0;}
.tbl-form03 .list-file li .ico_.file{margin-right: 5px;}
.tbl-form03 .list-file a{color: #767676;}
.tbl-form03 .list-file a:hover, .tbl_file .list-file a:focus{text-decoration: underline; color: #ee7115;}

.tbl-form03.n-2 th:nth-child(1){width: 20%;}
.tbl-form03.n-2 td:nth-child(1){width: 80%;}
*/

.b_list3 { clear:both; width:100%;border-collapse:collapse; color:#666; border-top:#000000 solid 3px;border-bottom:#888888 solid 1px; line-height:normal; font-size:15px; margin-bottom:15px; }
.b_list3 th { height:24px;line-height:20px;text-align:left; border:#e3e3e3 solid 1px;padding:13px 6px 13px 6px; white-space:nowrap; color:#444444;background:#f1f1f1;vertical-align:middle; }
.b_list3 td { height:24px;line-height:20px;text-align:left; padding:13px 5px 13px 5px; letter-spacing:0; border:#e3e3e3 solid 1px;vertical-align:middle; }
.b_list3 td a { color:#666; }
.b_list3 td a:hover { color:#df2e38; }
.b_list3 td.txt_left { text-align:left; padding-left:10px; letter-spacing:0; }
.b_list3 .notice { background:#FFF; color:#D12810; font-weight:bold; }
.b_list3 .notice a { color:#D12810; }
.b_list3 .r_none {}
.b_list3 th img{padding-bottom:2px;}
.b_list3 .td_btn{padding:5px 5px 5px 5px;}

.only_mb{display:none;}

/****  ~1199 ****/
@media only screen and (max-width:1199px) {

	.board_otherbox ul li{float:left;width:25%;height:120px;line-height:24px;text-align:center;border-left:#dddddd solid 1px;box-sizing:border-box;padding:52px 0 0 12px;}
	.board_otherbox ul li:nth-child(1){width:25%;border-left:none;box-sizing:border-box;}
	.board_otherbox ul li .number{font-size:25px;color:#000;}
	.board_otherbox ul li.bg1{background: url('../img/common/board_otherbox_bg1.gif') no-repeat 55% 10%;background-size:36px;}
	.board_otherbox ul li.bg2{background: url('../img/common/board_otherbox_bg2.gif') no-repeat 50% 10%;background-size:36px;}
	.board_otherbox ul li.bg3{background: url('../img/common/board_otherbox_bg3.gif') no-repeat 50% 10%;background-size:36px;}
	.board_otherbox ul li.bg4{background: url('../img/common/board_otherbox_bg4.gif') no-repeat 50% 10%;background-size:36px;}
	.board_otherbox ul li.bg_g1{background: url('../img/common/board_otherbox_bg1.gif') no-repeat 50% 10%;background-size:36px;}
	.board_otherbox ul li.bg_g2{background: url('../img/common/board_otherbox_bg2.gif') no-repeat 50% 10%;background-size:36px;}
	.board_otherbox ul li.bg_g3{background: url('../img/common/board_otherbox_bg3.gif') no-repeat 50% 10%;background-size:36px;}
	.board_otherbox ul li.bg_g4{background: url('../img/common/board_otherbox_bg4.gif') no-repeat 50% 10%;background-size:36px;}

	.faq { clear:both; width:100%; border-top:#000000 solid 3px;background:none;}
	.faq .q { position:relative;overflow:hidden;width:100%;clear:both;box-sizing:border-box; line-height:22px;border-bottom:1px solid #ccc; padding:0 0 0 0;background: url('../img/sub/faq_bl_off.png') no-repeat center right;padding-left:110px; }
	.faq .q .title{float:left;text-align:center;width:33px;font-size:18px;font-weight:bold;color:#666666;padding:14px 0 0 0;box-sizing:border-box;}	
	.faq .q .q_in {float:left;width:90%;box-sizing:border-box;font-size:14px; color:#666666;padding-top:14px;padding-bottom:14px;}	
	.faq .q .q_in a{color:#666666;width:100%;font-weight:400;display:inline-block;}

	.faq .a { box-sizing:border-box;overflow:hidden;width:100%;clear:both; padding:0 0 0 110px; border-bottom:1px solid #ccc; background: url('../img/sub/faq_show_bl.png') no-repeat 120px 20px; }
	.faq .a .title{float:left;text-align:center;width:33px;font-size:18px;font-weight:bold;color:#000;padding:22px 0 0 22px;}
	.faq .a .a_in { float:left;padding:22px 0 22px 0; box-sizing:border-box;width:80%;font-weight:normal;line-height:24px; font-size:14px; color:#393939; }
	
	.faq li.show{background:#f6f6f6 none;}
	.faq li.show .q { position:relative; clear:both;width:100%;box-sizing:border-box; line-height:22px;border-bottom:1px solid #ccc; padding:0 0 0 0;background: url('../img/sub/faq_bl_on.png') no-repeat center right !important; padding-left:110px;}
	.faq li.show .q .title{float:left;text-align:center;width:33px;font-size:18px;font-weight:bold;color:#000;padding:14px 0 0 0;}
	.faq li.show .q .q_in {float:left;box-sizing:border-box;width:90%;font-size:14px; color:#000;padding-top:14px;padding-bottom:14px;}
	.faq li.show .q .q_in a{font-size:14px; color:#000;width:100%;font-weight:400;display:inline-block;}	
	.faq .part{position:absolute; top:0; left:20px;box-sizing:border-box;width:110px;float:none;text-align:left;height:36px;padding-top:14px;}
	
	.faq .thtitle{background:#f6f6f6 none;overflow:hidden;height:50px;line-height:50px;border-bottom:1px solid #ccc;}
	.faq .thtitle .title_part{box-sizing:border-box;width:20%;float:left;text-align:center;color:#000;}
	.faq .thtitle .title_name{box-sizing:border-box;width:70%;float:left;text-align:center;color:#000;}


}

/**** ~ 1000 ****/
@media only screen and (max-width:1000px) {	


}

/**** ~ 960 ****/
@media only screen and (max-width:960px) {	
    .board_box{display:none;}
	.board_search.mb_fr{padding:0 !important;margin:0 !important;}
	.board_search .tbinput { position:relative; width:50%; height:35px; padding:0 5px; border:#999999 solid 1px;box-sizing:border-box;font-family: "nanumsquarer","NanumGothic";font-size:15px;}
    .board_search .search_btn {display:inline-block;background:#999999;border:none;color:#fff !important;padding:0 22px;height:35px;line-height:35px;font-size:14px;vertical-align:middle;text-align:center;}

	.board_top .total {margin-top:20px;color:#444444;}


}

/**** ~ 800 ****/
@media only screen and (max-width:800px) {

 	.tbl_search{width:100%; table-layout: fixed; background-color: transparent; border-spacing:0; font-size:13px; border-top: 1px solid #dddddd;margin-bottom:20px;}
	.tbl_search th{height:32px; line-height:18px; padding:6px 1px 6px 6px; border-bottom:1px solid #dddddd; border-top: none; color: #000;vertical-align:middle; background:#f6f6f6;text-align:left;letter-spacing:-0.06em;}
	.tbl_search td{height:32px; line-height:18px; padding:6px 1px 6px 6px; border-bottom:1px solid #dddddd; border-top: none; color: #767676;vertical-align:middle;letter-spacing:-0.06em;}

	.b_list { clear:both; width:100%; color:#666; border-top:#000000 solid 2px;border-bottom:#888888 solid 1px; line-height:normal; font-size:13px; margin-bottom:15px; }
	.b_list th { height:22px;line-height:18px;text-align:center; padding:8px 2px 8px 2px; white-space:normal; border:#e3e3e3 solid 1px;color:#444444;background:#f1f1f1;vertical-align:middle;word-break:keep-all;word-break:break-all; }
	.b_list td { height:22px;line-height:18px;text-align:center; padding:8px 2px 8px 2px; letter-spacing:0; border:#e3e3e3 solid 1px;vertical-align:middle;letter-spacing:-0.04em;word-break:keep-all;word-break:break-all;}

	.b_view { clear:both; width:100%; color:#444444; border-top:#000000 solid 2px;border-bottom:#dddddd solid 1px; line-height:normal; font-size:13px;margin-bottom:10px;}
	.b_view th { height:22px;line-height:18px;padding:8px 4px; border-bottom:#dddddd solid 1px; padding-left:6px; text-align:left;vertical-align:middle;word-break:keep-all;word-break:break-all; }
	.b_view th.bg{background:#f1f1f1;}
	.b_view td { height:22px;line-height:18px;padding:8px 4px; border-bottom:#dddddd solid 1px; padding-left:6px; text-align:left;vertical-align:middle;word-break:keep-all;word-break:break-all; }
	.b_view .text_box{overflow:hidden;box-sizing:border-box;padding:20px 0;}
	.b_view .text_box .img img{width:100%;}
	.b_view td.l_bar{background:none;padding:0 4px 0 4px;border-left:#dddddd solid 1px; }
    .b_view td.r_bar{background:none;padding:0 4px 0 4px;border-right:#dddddd solid 1px;}
	.b_view .subject { color:#000; font-size:14px;border-right:#dddddd solid 1px;}

	.b_write { clear:both; width:100%; color:#47494a; border-top:#000000 solid 3px;border-bottom:#dddddd solid 1px; line-height:normal;font-size:15px;}
	.b_write th { height:22px;line-height:18px;padding:8px 0; border-bottom:#dadada solid 1px; padding-left:8px; text-align:left;background:#f1f1f1;color:#444444;vertical-align:middle;}
	.b_write td { height:22px;line-height:18px;padding:8px 8px 8px 8px; border-bottom:#dadada solid 1px; text-align:left;}

	.tbl-form01{width:100%; table-layout: fixed; background-color: transparent; border-spacing: 0; font-size:13px; border-top: 3px solid #000;margin-bottom:20px;}
	.tbl-form01 th{height:22px; line-height:18px; padding:8px 3px 8px 3px; border-bottom: 1px solid #e2e2e2; font-size:13px;border-top:none; color:#000;vertical-align:middle;letter-spacing:-0.04em;word-break:keep-all;word-break:break-all;}
	.tbl-form01 td{height:22px; line-height:20px; padding:8px 3px 8px 3px; border-bottom: 1px solid #e2e2e2; font-size:13px;border-top:none; color: #767676;vertical-align:middle;letter-spacing:-0.04em;word-break:keep-all;word-break:break-all;}
	.tbl-form01.n-2 th:nth-child(1){width:23%;}
	.tbl-form01.n-2 td:nth-child(1){width:77%;}

	.tbl-table03 {font-size:13px;}
	.tbl-table03 th{height:22px; line-height:18px; padding:8px 4px 8px 4px; border-bottom:1px solid #dddddd; border-top: none; color: #000;vertical-align:middle; background:#f6f6f6;text-align:left;letter-spacing:-0.06em;font-size:13px;}
	.tbl-table03 td{height:22px; line-height:18px; padding:8px 4px 8px 4px; border-bottom:1px solid #dddddd; border-top: none; color: #767676;vertical-align:middle;font-size:13px;word-break:keep-all;word-break:break-all;}
	.tbl-table03 .top_bar{border-top:1px solid #dddddd !important;}

	.tbl-form03{width:100%; table-layout: fixed; background-color: transparent; border-spacing: 0; font-size:13px; border-top: 1px solid #e2e2e2;margin-bottom:20px;}
	.tbl-form03 th{height:22px; line-height:18px; padding:8px 3px 8px 3px; border-bottom: 1px solid #e2e2e2;font-size:13px;border-top: none; color:#000;vertical-align:middle;background:#f6f6f6;text-align:left;word-break:keep-all;word-break:break-all; letter-spacing:-0.06em;}
	.tbl-form03 td{height:22px; line-height:18px; padding:8px 3px 8px 3px; border-bottom: 1px solid #e2e2e2; border-top: none; color: #767676;vertical-align:middle;word-break:keep-all;word-break:break-all;letter-spacing:-0.06em;}

	.mb_view .mb_th{width:18% !important;}
	.tbl-table03 .mb_th{width:14% !important;}

	.mb_list .mb_hidden{display:none !important;}
	.mb_list .mb_date{width:25% !important;}
	.mb_list .mb_num{width:12% !important;}
	.mb_list .mb_kind{width:18% !important;}
	
	.mb_list .mb_w4{width:4% !important;}
	.mb_list .mb_w7{width:7% !important;}
	.mb_list .mb_w8{width:8% !important;}
	.mb_list .mb_w10{width:10% !important;}
	.mb_list .mb_w12{width:12% !important;}
	.mb_list .mb_w13{width:13% !important;}
	.mb_list .mb_w15{width:15% !important;}
	.mb_list .mb_w16{width:16% !important;}
	.mb_list .mb_w20{width:20% !important;}
	.mb_list .mb_w25{width:25% !important;}
	.mb_list .mb_w27{width:27% !important;}
	.mb_list .mb_w30{width:30% !important;}
	.mb_list .mb_w40{width:40% !important;}
	.mb_list .mb_w50{width:50% !important;}
	.mb_list .mb_w60{width:60% !important;}
	.mb_list .mb_w70{width:70% !important;}
	.mb_list .mb_w80{width:80% !important;}

    .mb_view .mb_w4{width:4% !important;}
	.mb_view .mb_w7{width:7% !important;}
	.mb_view .mb_w10{width:10% !important;}
	.mb_view .mb_w12{width:12% !important;}
	.mb_view .mb_w13{width:13% !important;}
	.mb_view .mb_w15{width:15% !important;}
	.mb_view .mb_w20{width:20% !important;}
	.mb_view .mb_w25{width:25% !important;}
	.mb_view .mb_w30{width:30% !important;}
	.mb_view .mb_w40{width:40% !important;}
	.mb_view .mb_w50{width:50% !important;}
	.mb_view .mb_w60{width:60% !important;}
	.mb_view .mb_w70{width:70% !important;}
	.mb_view .mb_w80{width:80% !important;}
	.mb_view .mb_txt_right{text-align:right !important;}

	/* pagination */
	.pagination { position:relative;display:inline-block; clear:both; width:100%;height:auto; text-align:center; margin-top:10px;padding-bottom:0; }
	.pagination li { display:inline; width:32px;height:auto;margin:0 4px;overflow:hidden; }
	.pagination li.num {color:#000;padding:0 4px; }
	.pagination li.num span { line-height:32px; margin:0 1px; border:none; padding:0 3px; }
	.pagination li.num span a{color:#000;font-size:15px;}
	.pagination li.num span.on { color:#df2e38;  }
	.pagination li.num span.on a{color:#df2e38;font-size:15px;text-decoration:underline;}
	.pagination li.direction { border:none; padding:0;margin:0 20px; }
	.pagination li img { width:30px;margin-top:-1px; }
	.pagination .fl_btn{position:absolute; top:0; left:0;}
	.pagination .fr_btn{position:absolute; top:0; right:0;}
	.pagination .s_btn2{line-height:32px;height:32px;padding:0 10px;}
	.pagination .s_btn2.wid100{width:auto;}

	.b_view .reply_box { border:#dddddd solid 1px;padding:12px 12px 12px 36px; min-height:100px;line-height:20px;background:#f6f6f6 url(../img/sub/reply_icon.png) no-repeat 10px 10px; }
	.b_view .reply {padding:15px 0 15px 0;}

	.calendar_bt .datepicker{margin-left:-24px;width:18px;margin-right:10px;z-index:10;display:inline-block;}


	
}

/**** ~ 680 ****/
@media only screen and (max-width:680px) {

	.tbl_search th span{display:block;}
	.b_view th span{display:block;}
	.tbl-table03 th span{display:block;}
	.tbl-table03 td{height:22px; line-height:18px; padding:6px 4px 6px 4px; border-bottom:1px solid #dddddd; border-top: none; color: #767676;vertical-align:middle;font-size:13px;word-break:keep-all;word-break:break-all;}

	.board_otherbox{position:absolute; top:0; left:0;clear:both;overflow:hidden;height:140px;margin-top:0 !important;border-top:#000000 solid 3px;box-sizing:border-box;border-bottom:#888888 solid 1px;border-left:#dddddd solid 1px;border-right:#dddddd solid 1px;background:#f6f6f6;}
	.board_otherbox.mg_t50{margin-top:0 !important;}
	.board_otherbox ul li{float:left;width:24%;height:140px;line-height:24px;text-align:center;border-left:#dddddd solid 1px;box-sizing:border-box;padding:52px 3px 0 3px;letter-spacing:-0.06em;}
	.board_otherbox ul li:nth-child(1){width:28%;border-left:none;box-sizing:border-box;}
	.board_otherbox ul li.bg1{background: url('../img/common/board_otherbox_bg1.gif') no-repeat 55% 10%;background-size:32px;}
	.board_otherbox ul li.bg2{background: url('../img/common/board_otherbox_bg2.gif') no-repeat 50% 10%;background-size:32px;}
	.board_otherbox ul li.bg3{background: url('../img/common/board_otherbox_bg3.gif') no-repeat 50% 10%;background-size:32px;}
	.board_otherbox ul li.bg4{background: url('../img/common/board_otherbox_bg4.gif') no-repeat 54% 10%;background-size:32px;}
	.board_otherbox ul li.bg_g1{background: url('../img/common/board_otherbox_bg1.gif') no-repeat 50% 10%;background-size:32px;}
	.board_otherbox ul li.bg_g2{background: url('../img/common/board_otherbox_bg2.gif') no-repeat 50% 10%;background-size:32px;}
	.board_otherbox ul li.bg_g3{background: url('../img/common/board_otherbox_bg3.gif') no-repeat 50% 10%;background-size:32px;}
	.board_otherbox ul li.bg_g4{background: url('../img/common/board_otherbox_bg4.gif') no-repeat 50% 10%;background-size:32px;}
	.board_otherbox ul li .number{font-size:21px;color:#000;}
	.board_otherbox ul li p {line-height:18px;margin-bottom:5px;font-size:13px;letter-spacing:-0.06em;}
	.board_otherbox ul li .number span{font-size:14px;}
	.board_otherbox ul li p em{display:block;}	

	.bene_my{padding-top:180px !important;}
	.b_list2 { clear:both; width:100%; color:#666; border-top:#000000 solid 3px;border-bottom:#888888 solid 1px; line-height:normal; font-size:13px; margin-bottom:15px; }

	.only_mb{display:block;padding:20px 0 0;}
	.only_mb .point_txt{padding:0 10px 10px 10px;font-size:15px;color:#666666;}
	.only_mb .point_txt span{color:#e37325;}
	.only_mb .in_title{display:block;background:#e47325;}
	.only_mb .in_title select {font-size:16px;width:100%; height:44px; color:#fff;padding-left:12px;padding-right:38px;-webkit-appearance: none; border-radius:0; -moz-appearance: none; background:#e47325 url('../img/common/select_in_title.png') no-repeat 98% 50%;background-size:28px;font-family: inherit;border:none; } 

	.faq .q { position:relative;overflow:hidden;width:100%;clear:both;box-sizing:border-box; line-height:22px;border-bottom:1px solid #ccc; padding:0 0 0 0;background: url('../img/sub/faq_bl_off.png') no-repeat center right;padding-left:90px; }
	.faq .q .title{float:left;text-align:center;width:33px;font-size:18px;font-weight:bold;color:#666666;padding:10px 0 0 0;box-sizing:border-box;}	
	.faq .q .q_in {float:left;width:78%;box-sizing:border-box;font-size:14px; color:#666666;padding-top:10px;padding-right:20px;padding-bottom:10px;}	
	.faq .q .q_in a{color:#666666;width:100%;font-weight:400;display:inline-block;}

	.faq .a { box-sizing:border-box;overflow:hidden;width:100%;clear:both; padding:0 0 0 110px; border-bottom:1px solid #ccc; background: url('../img/sub/faq_show_bl.png') no-repeat 100px 12px; }
	.faq .a .title{float:left;text-align:center;width:33px;font-size:18px;font-weight:bold;color:#000;padding:12px 0 0 0;}
	.faq .a .a_in { float:left;padding:12px 0 12px 0; box-sizing:border-box;width:80%;font-weight:normal;line-height:24px; font-size:14px; color:#393939; }
	
	.faq li.show{background:#f6f6f6 none;}
	.faq li.show .q { position:relative; clear:both;width:100%;box-sizing:border-box; line-height:22px;border-bottom:1px solid #ccc; padding:0 0 0 0;background: url('../img/sub/faq_bl_on.png') no-repeat center right !important; padding-left:90px;}
	.faq li.show .q .title{float:left;text-align:center;width:33px;font-size:18px;font-weight:bold;color:#000;padding:10px 0 0 0;}
	.faq li.show .q .q_in {float:left;box-sizing:border-box;width:70%;font-size:14px; color:#000;padding-top:10px;padding-right:0;padding-bottom:10px;}
	.faq li.show .q .q_in a{font-size:14px; color:#000;width:100%;font-weight:400;display:inline-block;}	
	.faq .part{position:absolute; top:0; left:10px;box-sizing:border-box;width:90px;float:none;text-align:left;height:36px;padding-top:10px;}
	
	.faq .thtitle{background:#f6f6f6 none;overflow:hidden;height:50px;line-height:50px;border-bottom:1px solid #ccc;}
	.faq .thtitle .title_part{box-sizing:border-box;width:20%;float:left;text-align:center;color:#000;}
	.faq .thtitle .title_name{box-sizing:border-box;width:70%;float:left;text-align:center;color:#000;}


}

/**** ~460 ****/
@media only screen and (max-width: 460px) {    

	/* pagination */
	.pagination { position:relative;display:inline-block; clear:both; width:100%;height:auto; text-align:center; margin-top:10px;}
	.pagination.mb_pd40{padding-bottom:40px !important;}
	.pagination li { display:inline; width:32px;height:auto;margin:0 4px;overflow:hidden; }
	.pagination li.num {color:#000;padding:0 4px; }
	.pagination li.num span { line-height:32px; margin:0 1px; border:none; padding:0 3px; }
	.pagination li.num span a{color:#000;font-size:15px;}
	.pagination li.num span.on { color:#df2e38;  }
	.pagination li.num span.on a{color:#df2e38;font-size:15px;text-decoration:underline;}
	.pagination li.direction { border:none; padding:0;margin:0 20px; }
	.pagination li img { width:30px;margin-top:-1px; }
	.pagination .fl_btn{position:absolute; top:42px; left:3%;}
	.pagination .fr_btn{position:absolute; top:42px; right:3%;}
	.pagination .s_btn2{line-height:32px;height:32px;padding:0 8px;}

	.bene_my{padding-top:270px !important;}
	.board_otherbox{position:absolute; top:0; left:0;clear:both;overflow:hidden;height:240px;margin-top:0 !important;border-top:#000000 solid 3px;box-sizing:border-box;border-bottom:#888888 solid 1px;border-left:#dddddd solid 1px;border-right:#dddddd solid 1px;background:#f6f6f6;}
	.board_otherbox ul li{float:left;width:50%;height:120px;line-height:24px;text-align:center;border-left:#dddddd solid 1px;box-sizing:border-box;padding:45px 1px 0 1px;letter-spacing:-0.06em;}
	.board_otherbox ul li:nth-child(1){width:50%;border-left:none;box-sizing:border-box;}
	.board_otherbox ul li:nth-child(3){width:50%;border-left:none;box-sizing:border-box;border-top:#dddddd solid 1px;}
	.board_otherbox ul li:nth-child(4){border-top:#dddddd solid 1px;}
	.board_otherbox ul li .number{font-size:17px;color:#000;}
	.board_otherbox ul li p {line-height:18px;margin-bottom:5px;font-size:13px;letter-spacing:-0.06em;}
	.board_otherbox ul li .number span{font-size:14px;}

	.tbl-table03 th:nth-child(1){{width:11% !important;}


}