/*
Name: SK프로보노
Author: Baek Seung Hoon https://slowalk.co.kr/
Description: SK프로보노 전용 스타일시트
*/

/* webfont 불러오기 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&subset=korean');
/* @import url('board.css'); */
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');

/* 제네럴 */
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    /* word-spacing: -0.4em; */
}

body {
    width: 100%;
    font-family: "xeicon", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", "Apple SD Gothic Neo", "애플 SD 산돌고딕 Neo", "나눔고딕", "NanumGothic", "Apple Gothic", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    -webkit-font-smoothing: subpixel-antialiased;
    word-break: keep-all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

a {
    /*color: #ff790d;*/
    text-decoration: none;
}

table caption {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* column 셋팅 */
/* column 중복 사용 */
.row {
    margin-left: -16px;
    margin-right: -16px;
}

.row:after {
    display: table;
    content: "";
    clear: both;
}

.row:before {
    display: table;
    content: "";
}

/* grid gutter 설정*/
*[class|="col"] {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    float: left;
}

    /* 2등분, 3등분, 4등분, 5등분, 10등분, 12등분 */
    .col-half, .col-2-1, .col-4-2, .col-6-3, .col-10-5, .col-12-6 { width: 50%; }
    .col-3-1, .col-6-2, .col-12-4 { width: 33.3333333333%; }
    .col-3-2, .col-6-4, .col-12-8 { width: 66.6666666666%; }
    .col-4-1, .col-12-3 { width: 25%; }
    .col-4-3, .col-12-9 { width: 75%; }
    .col-5-1, .col-10-2 { width: 20%; }
    .col-5-2, .col-10-4 { width: 40%; }
    .col-5-3, .col-10-6 { width: 60%; }
    .col-5-4, .col-10-8 { width: 80%; }
    .col-6-1, .col-12-2 { width: 16.6666666666%; }
    .col-6-5, .col-12-10 { width: 83.3333333333% }
    .col-10-1 { width: 10%; }
    .col-10-3 { width: 30%; }
    .col-10-7 { width: 70%; }
    .col-10-9 { width: 90%; }
    .col-12-1 { width: 8.3333333333%; }
    .col-12-5 { width: 41.6666666666%; }
    .col-12-7 { width: 58.3333333333%; }
    .col-12-11 { width: 91.6666666666%; }
    .col-full { width: 100%; }

/* column offset */
.offset-2-1 { margin-left: 50%; }
.offset-12-2 { margin-left: 16.6666666666%;}


/* 밀고 당기기 */
.push-half, .push-2-1, .push-4-2, .push-6-3, .push-10-5, .push-12-6 { left: 50%; }
.push-3-1, .push-6-2, .push-12-4 { left: 33.3333333333%; }
.push-3-2, .push-6-4, .push-12-8 { left: 66.6666666666%; }
.push-4-1, .push-12-3 { left: 25%; }
.push-4-3, .push-12-9 { left: 75%; }
.push-5-1, .push-10-2 { left: 20%; }
.push-5-2, .push-10-4 { left: 40%; }
.push-5-3, .push-10-6 { left: 60%; }
.push-5-4, .push-10-8 { left: 80%; }
.push-6-1, .push-12-2 { left: 16.6666666666%; }
.push-6-5, .push-12-10 { left: 83.3333333333% }
.push-10-1 { left: 10%; }
.push-10-3 { left: 30%; }
.push-10-7 { left: 70%; }
.push-10-9 { left: 90%; }
.push-12-1 { left: 8.3333333333%; }
.push-12-5 { left: 41.6666666666%; }
.push-12-7 { left: 58.3333333333%; }
.push-12-11 { left: 91.6666666666%; }
.push-full { left: 100%; }
.pull-half, .pull-2-1, .pull-4-2, .pull-6-3, .pull-10-5, .pull-12-6 { right: 50%; }
.pull-3-1, .pull-6-2, .pull-12-4 { right: 33.3333333333%; }
.pull-3-2, .pull-6-4, .pull-12-8 { right: 66.6666666666%; }
.pull-4-1, .pull-12-3 { right: 25%; }
.pull-4-3, .pull-12-9 { right: 75%; }
.pull-5-1, .pull-10-2 { right: 20%; }
.pull-5-2, .pull-10-4 { right: 40%; }
.pull-5-3, .pull-10-6 { right: 60%; }
.pull-5-4, .pull-10-8 { right: 80%; }
.pull-6-1, .pull-12-2 { right: 16.6666666666%; }
.pull-6-5, .pull-12-10 { right: 83.3333333333% }
.pull-10-1 { right: 10%; }
.pull-10-3 { right: 30%; }
.pull-10-7 { right: 70%; }
.pull-10-9 { right: 90%; }
.pull-12-1 { right: 8.3333333333%; }
.pull-12-5 { right: 41.6666666666%; }
.pull-12-7 { right: 58.3333333333%; }
.pull-12-11 { right: 91.6666666666%; }
.pull-full { right: 100%; }

/* typography */
h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

h1>small {
    color: #666;
    font-size: 0.65em;
    font-weight: 400;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.h2-style-1 {
    font-weight: 400;
    font-size: 26px;
}

.main .container>h1 {
    margin-top: 0;
    font-weight: 400;
    margin-block-end: 1em;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.lead {
    font-size: 20px;
}

/* color */
table th sup,
.require,
.color-red {
    color: #e21837;
}
.color-black {
    color: #333;
}

/* layout */
body {
    padding-top: 100px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    z-index: 100;
    background-color: #fff;
    border-bottom: 4px solid #e21837;
}

section {
    padding: 80px 0;
}

section.newsticker {
    padding: 0;
    height: 90px;
}

section.newsticker .container {
    position: relative;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

/* carousel */
.carousel {
    position: relative;
    width: 100%;
    height: 600px;
}

.carousel-top .swiper-container {
    width: 100%;
    height: 600px;
}

.carousel-top .swiper-slide {
    background-size: cover;
    background-position: center;
    width: 100%;
}

.carousel-top {
    height: 600px;
    width: 100%;
}

.swiper-container.carousel-thumbs {
    margin: -50px auto 0 auto;
}

.carousel-thumbs {
    height: 100px;
    width: 1015px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.carousel-thumbs .swiper-slide {
    height: 100%;
    filter: grayscale(100%);
}

.carousel-thumbs .swiper-slide-thumb-active {
    filter: grayscale(0%);
}

.swiper-button-next,
.swiper-button-prev {
    top: 288px;
    width: 22px;
    height: 39px;
    margin-top: -19px;
    background-size: 22px 39px;
}

.swiper-button-prev {
    left: 60px;
}

.swiper-button-next {
    right: 60px;
}

.carousel-typo {
    margin: 0 auto;
    padding: 0 507px 0 0;
    width: 1015px;
    color: #fff;
    letter-spacing: -2px;
}

.carousel-typo h1 {
    font-size: 60px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.2em;
}

.carousel-typo p {
    font-size: 20px;
    line-height: 1.5em;
    margin-bottom: 2em;
    ;
}

.carousel-top .container {
    display: flex;
    height: 600px;
    align-items: center;
}

.carousel .btn {
    display: inline-block;
}

/* newsticker */
.newsticker {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.newsticker-container {
    height: 89px;
    overflow: hidden;
}

.newsticker-container .swiper-slide {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.newsticker .container .row {
    position: relative;
}

.newsticker h1 {
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 89px;
    margin: 0 110px 0 0;
}

.newsticker a {
    color: #8d8d8d;
}

.newsticker .btn.btn-more {
    margin-top: 17px;
}

.newsticker-button {
    position: absolute;
    left: 163px;
    width: 32px;
}

.newsticker-button-next,
.newsticker-button-prev {
    display: flex;
    font-size: 17px;
    color: #ccc;
    height: 44px;
    padding: 5px 0;
    justify-content: center;
    cursor: pointer;
}

.newsticker-button-prev {
    align-items: flex-end;
}

.newsticker-button-next {
    align-items: flex-start;
}

/* header */
.logo {
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo a {
    display: inline-block;
    background: url("../img/logo.svg") no-repeat;
    background-size: 158px;
    width: 158px;
    height: 36px;
    text-indent: -9999px;
}

.gnb ul {
    margin: 0;
}

.gnb>ul>li>a {
    display: inline-block;
    padding: 40px 20px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.signinMenu {
    font-size: 16px;
}

.signinMenu>ul {
    padding: 0;
}

.signinMenu>ul>li>a {
    color: #8d8d8d;
    display: inline-block;
    padding: 42px 3px;
}

.signinMenu>ul {
    margin: 0;
    text-align: right;
}
.signinMenu > ul > li:first-child {
    margin-right: 30px;
}

.gnb .active,
.lnb .active,
.signinMenu .active {
    color: #e21837;
    font-weight: bold;
}

.lnb-wrap {
    display: none;
}

.gnb .active+.lnb-wrap,
.signinMenu .active+.lnb-wrap {
    display: block;
    position: fixed;
    top: 96px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    background-color: #f5f5f5;
    border-top: #e21837 4px solid;
    z-index: 100;
}

.lnb-wrap a {
    color: #666;
    line-height: 2.87;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

.width200 {
    width: 200px;
}

/* contents */
.jumbotron {
    padding: 80px 0;
}

.section-typo {
    color: #fff;
}

.section-typo h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.section-typo p {
    font-size: 20px;
    margin-bottom: 60px;
}

.bg-section1 {
    background-image: url("../img/section_bg1.png");
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

/* number */
.svalue h2 {
    margin-top: 0;
    padding-bottom: 8px;
    font-weight: normal;
    font-size: 16px;
    border-bottom: #8d8d8d solid 1px;
}

.svalue.svalue-lg h2 {
    margin-bottom: 20px;
}

.svalue p {
    font-family: "NanumSquare", "Noto Sans KR", sans-serif;
    font-weight: 800;
    margin: 0;
}

.svalue.svalue-lg p {
    font-size: 74px;
    letter-spacing: -3.5px;
}

.svalue.svalue-md p {
    font-size: 34px;
    padding-left: 45px;
    letter-spacing: -1.5px;
}

.svalue-blue {
    color: #0099cc;
}

.svalue-green {
    color: #99cc00;
}

.svalue-red {
    color: #f67510;
}

.svalue.svalue-lg sup {
    font-size: 20px;
    top: -37px;
}

.svalue.svalue-md sup {
    font-size: 18px;
    top: -10px;
}

.svalue p {
    background-repeat: no-repeat;
    background-position: left center;
}

.svalue .icon-value {
    background-image: url('../img/icon_value.png');
}

.svalue .icon-time {
    background-image: url('../img/icon_time.png');
}

.svalue .icon-people {
    background-image: url('../img/icon_people.png');
}

.svalue .icon-trophy {
    background-image: url('../img/icon_trophy.png');
}

/* badge */
.badge {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 8px 15px;
    background-color: #8d8d8d;
    border-radius: 4px;
    vertical-align: top;
    margin-right: 5px;
}

.badge-green {
    background-color: #a0bf30;
}

.badge-blue {
    background-color: #4ac0e2;
}

.badge-red {
    background-color: #ef746f;
}

.badge-orange {
    background-color: #f67510;
}

/* button */
.btn {
    display: inline-block;
    letter-spacing: -1px;
    font-size: 18px;
    border-radius: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: #ff790d;
    color: #ff790d;
    padding: 15px 35px;
}

.btn-lg {
    padding: 20px 50px;
}

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}

.btn-white {
    color: #fff;
    border-color: #fff;
}

.btn-red-fill {
    color: #fff !important;
    background-color: #e21837;
    border-color: #e21837;
}

.btn-orange-fill {
    background-color: #ff790d;
    color: #fff;
}

.btn-gray-fill {
    color: #fff;
    border-color: #8d8d8d;
    background-color: #8d8d8d;
}

.btn-gray {
    color: #8d8d8d;
    border-color: #8d8d8d;
}

.btn-more {
    padding: 15px 40px 15px 60px;
    color: #8d8d8d;
    border-color: #8d8d8d;
    background-image: url('../img/btn_bg_plus.png');
    background-repeat: no-repeat;
    background-position: 18px 15px;
}

.btn-group .btn {
    margin-left: 5px;
    margin-right: 5px;
}

.circle-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #8d8d8d;
}

.circle-btn-white {
    background-image: url('../img/btn_bg_plus_sm.png');
}

.circle-btn-block {
    width: 15px;
    height: 15px;
    background-image: url('../img/btn_bg_q.png');
}

.rect-btn {
    display: inline-block;
    background-color: #f3f3f3;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: #ccc 1px solid;
    font-size: 16px;
    line-height: 33px;
    height: 36px;
    padding: 0 20px;
    color: #666;
    letter-spacing: -1px;
    vertical-align: top;
}

.rect-btn.join-probono-btn {
    display: inline-block;
    background-color: #f3f3f3;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: #ccc 1px solid;
    font-size: 16px;
    line-height: 35px;
    height: 36px;
    padding: 0 20px;
    color: #666;
    letter-spacing: -1px;
}

.rect-btn.plus {
    background-image: url('../img/btn_bg_plus_xs.png');
    text-indent: -9999px;
}

.rect-btn.minus {
    background-color: #fff;
    background-image: url('../img/btn_bg_minus_xs.png');
    text-indent: -9999px;
}

.rect-btn+.rect-btn.minus {
    border-left: none;
}

.nav-close {
    display: none;
}

/* CTA */
.cta {
    border-top: 3px solid #333;
    background-color: #f3f3f3;
    padding: 16px;
    margin-bottom: 30px;
    
}
.cta .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cta .cta-btn {
}

/* form */
input::placeholder, textarea::placeholder {
    color: #ccc;
}
.form-control {}

.input-group {}

.form-control input:not([type='file']) {
    line-height: 36px;
    padding: 0 10px;
    border: #ccc 1px solid;
}

.form-control input[type="text"],
.form-control input[type="password"],
.form-control input[type="number"],
.form-control input[type="email"],
.form-control input[type="date"],
.form-control input[type="tel"],
.form-control input[type="url"],
.height36 {
    height: 36px;
}
.profile-edit th {
    width: 200px;
}
.profile-edit input[type="text"],
.profile-edit input[type="password"],
.profile-edit input[type="number"],
.profile-edit input[type="date"],
.profile-edit input[type="url"] {
    width: 250px;
}
.profile-edit .rect-btn {
    min-width: 130px;
    text-align: center;
}
.profile-charge-adjust {
    margin: 10px 0;
}
.profile-edit .rect-btn.plus, .profile-edit .rect-btn.minus {
    min-width: 50px;
}
.profile-edit .form-inline .rect-btn + .plus {
    margin-left: 10px;
}
.profile-edit .select-box {
    width: 250px;
}

/* .profile-edit td a:last-child {
    margin-left: 10px;
} */
.profile-edit .btn-adjust {
    display: inline;
    margin-left: 10px;
}
.profile-edit input + .rect-btn, .profile-edit input + select {
    margin-left: 10px;
}
.profile-edit input.address {
    width: 393px;
}
.profile-edit table.profile-charge {
    margin-bottom: 0;
}
.profile-edit .form-inline + .form-inline {
    margin-top: 5px;
}
.feedback {
    margin-left: 5px;
}
td.input-chainnum input, 
td.input-chainnum select, 
input.input-small.input-small, 
.profile-edit input[type="email"] {
    width: 110px;
}
.numseparator {
    display: inline-block;
    width: 28px;
    text-align: center;
}
.input-append {
    margin-left: 10px;
}
label.rect-btn + input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}
label.rect-btn + input[type="file"] + input[type="text"] {
    margin-right: 10px;
}

.form-control select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 36px;
    border-radius: 0;
    background-color: #fff;
    border-color: #ccc;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 44px;
    color: #666;
    background-image: url('../img/bg_select.png');
    background-repeat: no-repeat;
    background-position: right center;
}
.form-inline {
    position: relative;
    display: block;    
}
.form-inline label {
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem;  
}
.form-inline input {
    position: static;
    margin-top: 0;
    margin-left: 0;  
}
.form-inline select {
    margin-right: 10px;
}
span.input-range {
    margin-left: 10px;
    margin-right: 10px;
}
.form-check {
    position: relative;
    display: block;
}
.form-check-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem;
}
.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: .3125rem;
    margin-left: 0;
}

.select-box {
    border: #ccc 1px solid;
    margin: 10px 10px 10px 0;
    padding: 5px 10px;
}

.select-box li {
    list-style: none;
    line-height: 1.56;
    cursor: pointer;
}

.select-box .on {
    color: #e21837;
}

.select-box +.rect-btn {
    padding: 50px 14px;
    margin-top: 10px;
    height: 132px;
}

.form-control textarea {
    border: #ccc 1px solid;
    padding: 10px;
}

.form-stack {
    padding: 0 10px;
    font-size: 14px;
    margin-top: 15px;
}

.form-stack label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    color: #666;
}

.form-stack input,
.form-stack select {
    padding: 0 10px;
    line-height: 38px;
    margin: 8px 0;
}

.form-stack select {
    height: 40px;
    border-radius: 0;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25px' height='16px'%3E%3Cpath fill-rule='evenodd' fill='rgb(51, 51, 51)' d='M25.009,2.924 L15.280,13.102 L15.280,13.102 L12.500,16.010 L-0.009,2.924 L2.771,0.016 L12.500,10.194 L22.229,0.016 L25.009,2.924 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 13px 8px;
    background-position: right center; */
}

.form-stack input:disabled {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0;
    color: #666;
}

/* */
.list-filter {
    margin-top: 6px;
    padding-left: 10px;
    font-size: 14px;
    letter-spacing: -1px;
}

.list-filter li {
    padding: 0 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1px' height='14px'%3E%3Cpath fill-rule='evenodd' fill='rgb(134, 134, 134)' d='M0.000,-0.000 L1.000,-0.000 L1.000,14.000 L0.000,14.000 L0.000,-0.000 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.list-filter li:last-child {
    background-image: none;
}
.list-filter a {
    color: #999;
}
.list-filter .active {
    color: #333;
    font-weight: bold;
}


/* card */
.card {
    padding: 30px;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2.294px 3.277px 4px 0px rgba(0, 0, 0, 0.1);
    height: 358px;
    transition: all 0.3s;
}

.card:hover {
    border-color: rgb(180, 180, 180);
    box-shadow: 6.883px 9.83px 12px 0px rgba(0, 0, 0, 0.32);
    margin: -10px 0 10px 0;
    transition: all 0.3s;
}

.card dl {
    font-size: 20px;
}

.card dt {
    display: inline-block;
}

.card dt:after {
    content: ": ";
}

.card dd {
    font-weight: bold;
    display: inline-block;
    margin: 0;
}

.card h1 {
    font-size: 28px;
    line-height: 1.35;
    margin: 12px 0 20px 0;
}

.card h1 a {
    color: #333;
    word-spacing: -0.2em;
}

.card ul {
    color: #666;
}

.row.card_filter .input_sty {
    width: 280px;
    font-family: "xeicon", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", "Apple SD Gothic Neo", "애플 SD 산돌고딕 Neo", "나눔고딕", "NanumGothic", "Apple Gothic", sans-serif;
}


/* 포스트 목록 */
.post-list .container {
    position: relative;
}

.story-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.post-author {
    font-size: 14px;
    margin-bottom: 5px;
}

.post-item h2 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 25px;
    line-height: 1.35;
}

.post-item h2.probono-story {
    height: 111px;
}

.post-item h2.event-list-title {
    height: 65px;
}

.post-item .post-thumb {
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 230px;
}

.event-list .post-item h2 {
    margin-bottom: 20px;
}

.post-item h2 a,
.event-list .post-item a {
    color: #333;
}

.event-list .post-item p {
    color: #666;
    margin-bottom: 30px;
}

.event-list .post-thumb {
    display: flex;

}

.event-closed .post-thumb::after {
    content: "진행완료";
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.event-closed.post-item a,
.event-closed.post-item p {
    color: #ccc;
}

.event-header {
    position: relative;
    border-top: 3px solid #333;
    padding-top: 16px;
    padding-bottom: 7px;
    border-bottom: 1px solid #333;
}

.event-title {
    font-size: 28px;
    padding-right: 283px;
    word-break: break-all;
}

.event-schedule {
    position: absolute;
    right: 0;
    top: 30px;
}

/* 교육 목록 */
.edu-item {
    margin-bottom: 30px;
}

.edu-thumb {
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 240px;
}

.edu-item h2 {
    color: #333;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 10px;
}

.edu-item .badge {
    padding: 6px 10px;
}

.edu-item p {
    color: #8d8d8d;
    margin-top: 10px;
}

/* progress bar */
.progress-wrap {}

.progress-wrap .progress {
    background-color: #f3f3f3;
    overflow: hidden;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.progress-bar {
    border-radius: 10px;
    height: 20px;
    position: relative;
}

.progress-bar:after {
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.progress-step-1>div:last-child .progress-bar:after,
.progress-step-2>div:last-child .progress-bar:after,
.progress-step-3>div:last-child .progress-bar:after,
.progress-step-4>div:last-child .progress-bar:after,
.progress-step-5>div:last-child .progress-bar:after,
.progress-step-6>div:last-child .progress-bar:after,
.progress-step-cancel>div:first-child .progress-bar:after {
    background: none;
}

.progress-status {
    width: 100%;
}

.progress-status p {
    text-align: center;
    font-weight: bold;
    min-height: 16px;
}

.member .progress-status p {
    width: 20%;
}

.progress-step-cancel>div:last-child .progress-status p {
    width: 100%;
}

.member.progress-step-1>div:first-child .progress-status p:before {
    content: "모집 중";
    color: #f67510;
}

.member.progress-step-2>div:first-child .progress-status p:before,
.member.progress-step-3>div:first-child .progress-status p:before {
    content: "활동 중";
    color: #e21837;
}

.member.progress-step-4>div:first-child .progress-status p:before,
.member.progress-step-5>div:first-child .progress-status p:before {
    content: "활동 완료";
    color: #535353;
}

.progress-step-cancel>div:last-child .progress-status p:before {
    content: "활동취소";
    color: #535353;
}

.member.progress-step-1 .progress-status p {
    margin-left: 0;
}

.member.progress-step-2 .progress-status p {
    margin-left: 20%;
}

.member.progress-step-3 .progress-status p {
    margin-left: 40%;
}

.member.progress-step-4 .progress-status p {
    margin-left: 60%;
}

.member.progress-step-5 .progress-status p {
    margin-left: 80%;
}

.member.progress-step-1>div:first-child .progress-bar {
    background-color: #f67510;
    width: 21%;
}

.member.progress-step-2>div:first-child .progress-bar {
    background-color: #e21837;
    width: 41%;
}

.member.progress-step-3>div:first-child .progress-bar {
    background-color: #e21837;
    width: 61%;
}

.member.progress-step-4>div:first-child .progress-bar {
    background-color: #535353;
    width: 81%;
}

.member.progress-step-5>div:first-child .progress-bar {
    background-color: #535353;
    width: 100%;
}

.member.progress-step-cancel>div:last-child .progress-bar {
    background-color: #878787;
    width: 100%;
}

.progress-step-text {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.progress-step-text li {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1px' height='20px'%3E%3Cpath fill-rule='evenodd' fill='rgb(204, 204, 204)' d='M-0.000,-0.000 L1.000,-0.000 L1.000,20.000 L-0.000,20.000 L-0.000,-0.000 Z'/%3E%3C/svg%3E");
    background-position: top left;
    background-repeat: no-repeat;
    padding-top: 30px;
    font-size: 14px;
    color: #ccc;
}

.member .progress-step-text li {
    width: 20%;
}

.progress-step-1>div:last-child .progress-step-text li,
.progress-step-2>div:last-child .progress-step-text li,
.progress-step-3>div:last-child .progress-step-text li,
.progress-step-4>div:last-child .progress-step-text li,
.progress-step-5>div:last-child .progress-step-text li,
.progress-step-6>div:last-child .progress-step-text li,
.progress-step-cancel>div:last-child .progress-step-text li {
    width: 100%;
}

.progress-step-1>div:first-child .progress-step-text li:nth-child(1),
.progress-step-2>div:first-child .progress-step-text li:nth-child(2),
.progress-step-3>div:first-child .progress-step-text li:nth-child(3),
.progress-step-4>div:first-child .progress-step-text li:nth-child(4),
.progress-step-5>div:first-child .progress-step-text li:nth-child(5),
.progress-step-6>div:first-child .progress-step-text li:nth-child(6),
.progress-step-cancel>div:last-child .progress-step-text li {
    color: #999;
}

.company .progress-status p {
    width: 16.6666667%;
}

.company.progress-step-1>div:first-child .progress-status p:before {
    content: "승인 대기";
    color: #f67510;
}

.company.progress-step-2>div:first-child .progress-status p:before {
    content: "모집중";
    color: #f67510;
}

.company.progress-step-3>div:first-child .progress-status p:before,
.company.progress-step-4>div:first-child .progress-status p:before {
    content: "활동 중";
    color: #e21837;
}

.company.progress-step-5>div:first-child .progress-status p:before,
.company.progress-step-6>div:first-child .progress-status p:before {
    content: "활동 완료";
    color: #535353;
}

.company.progress-step-1 .progress-status p {
    margin-left: 0;
}

.company.progress-step-2 .progress-status p {
    margin-left: 16.6666667%;
}

.company.progress-step-3 .progress-status p {
    margin-left: 33.3333334%;
}

.company.progress-step-4 .progress-status p {
    margin-left: 50%;
}

.company.progress-step-5 .progress-status p {
    margin-left: 66.6666668%;
}

.company.progress-step-6 .progress-status p {
    margin-left: 83.3333335%;
}

.company.progress-step-1>div:first-child .progress-bar {
    background-color: #f67510;
    width: 16.6666667%;
}

.company.progress-step-2>div:first-child .progress-bar {
    background-color: #f67510;
    width: 33.3333334%;
}

.company.progress-step-3>div:first-child .progress-bar {
    background-color: #e21837;
    width: 50%;
}

.company.progress-step-4>div:first-child .progress-bar {
    background-color: #e21837;
    width: 66.6666668%;
}

.company.progress-step-5>div:first-child .progress-bar {
    background-color: #535353;
    width: 83.3333335%;
}

.company.progress-step-6>div:first-child .progress-bar {
    background-color: #535353;
    width: 100%;
}

.company.progress-step-cancel>div:last-child .progress-bar {
    background-color: #878787;
    width: 100%;
}

.company .progress-step-text li {
    width: 16.6666666666666666666%;
}

/* arrow button */
.story-button {
    position: absolute;
    top: 180px;
    color: #f67510;
    opacity: 0.5;
    font-size: 48px;
    cursor: pointer;
}

.story-button.story-button-prev {
    left: -100px;
}

.story-button.story-button-next {
    right: -100px;
}

/* about tab */
.about-tab {}

.about-tab .tab_area {
    width: 100%;
}

.about-tab .tab_area li {
    width: 12.5%;
    margin-right: 0;
    letter-spacing: -2px;
}

.about-tab .tab_area a {
    padding-top: 72px;
    background-repeat: no-repeat;
    background-position: 50% top;
    color: #666;
}

.about-tab .tab_area li.active a {
    border-bottom: none;
}

.about-tab .tab_area a.icon-1 {
    background-image: url(../img/icon_shrine.png);
}

.about-tab .tab_area li.active a.icon-1 {
    background-image: url(../img/icon_shrine_on.png);
}

.about-tab .tab_area a.icon-2 {
    background-image: url(../img/icon_graph.png);
}

.about-tab .tab_area li.active a.icon-2 {
    background-image: url(../img/icon_graph_on.png);
}

.about-tab .tab_area a.icon-3 {
    background-image: url(../img/icon_bubble.png);
}

.about-tab .tab_area li.active a.icon-3 {
    background-image: url(../img/icon_bubble_on.png);
}

.about-tab .tab_area a.icon-4 {
    background-image: url(../img/icon_pc.png);
}

.about-tab .tab_area li.active a.icon-4 {
    background-image: url(../img/icon_pc_on.png);
}

.about-tab .tab_area a.icon-5 {
    background-image: url(../img/icon_law.png);
}

.about-tab .tab_area li.active a.icon-5 {
    background-image: url(../img/icon_law_on.png);
}

.about-tab .tab_area a.icon-6 {
    background-image: url(../img/icon_bubbleref.png);
}

.about-tab .tab_area li.active a.icon-6 {
    background-image: url(../img/icon_bubbleref_on.png);
}

.about-tab .tab_area a.icon-7 {
    background-image: url(../img/icon_book.png);
}

.about-tab .tab_area li.active a.icon-7 {
    background-image: url(../img/icon_book_on.png);
}

.about-tab .tab_area a.icon-8 {
    background-image: url(../img/icon_document.png);
}

.about-tab .tab_area li.active a.icon-8 {
    background-image: url(../img/icon_document_on.png);
}

.about-tab .tabcont {
    width: 100%;
    margin-top: 0;
    padding-top: 20px;
}

.about-tab .tabcont .table-cell {
    font-size: 16px;
    color: #333;
    padding-top: 25px;
    padding-bottom: 18px;
}

.about-tab .tabcont p {
    line-height: 1.25;
    margin: 0 0 0.5em 0;
}

.about-tab .tabcont dl {
    margin: 0;
}

.about-tab .tabcont dt {
    display: inline-block;
    vertical-align: top;
    width: 150px;
}

.about-tab .tabcont dt:before {
    content: "-";
    margin-right: 5px;
}

.about-tab .tabcont dd {
    display: inline-block;
    margin: 0 0 15px 0;
    width: 80%;
}

.about-tab .tabcont .table-cell:first-child {
    width: 11%;
    vertical-align: top;
}

.about-tab .tabcont .trigger .table-cell:last-child {
    padding-right: 75px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14px' height='8px'%3E%3Cpath fill-rule='evenodd' fill='rgb(102, 102, 102)' d='M0.328,0.992 L7.000,7.336 L13.672,0.992 L12.703,0.008 L7.000,5.336 L1.297,-0.008 L0.328,0.992 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 97% 50%;
}

.about-tab .tabcont .table-row.trigger {
    cursor: pointer;
}

.about-tab .tabcont .table-row.target {
    background-color: #f3f3f3;
    display: none;
}

.about-tab .tabcont .table-row.target.on {
    display: table-row;
}

.about-tab .tabcont .table-row.target .table-cell:last-child {
    color: #666;
}

/* table like style */
.table {
    display: table;
    border-top-width: 3px;
    border-top-style: solid;
    width: 100%;
    margin-bottom: 60px;
    border-spacing: 0;
    word-break: break-all;
}
table.tbl-form01 {
    border-top-width: 3px;
    border-top-style: solid;
    width: 100%;
    margin-bottom: 60px;
    border-spacing: 0;
}

.table.table-type1 {
    border-top-color: #333;
}

table.tbl-form01 {
    border-top-color: #333;
}

.table.table-type1.color-red {
    border-top-color: #e21837 ! important;
}

.table.table-type2 {
    border-top-color: #965a30;
}

.table.table-type3 {
    border-top: #ddd solid 1px;
}
.table.table-type4 {
    border-top-color: #e21837;
}

.table-th-odd2 {
    overflow: hidden;
    background: #f3f3f3;
}

.table a {
    color: #666;
}

table.tbl-form01 a {
    color: #666;
}

.table-head-group {
    display: table-header-group;
}

.table-type1 .table-head-group,
.table-type1 .table-bg1,
.table-type1 .table-th,
.table-type1 th {
    background-color: #f3f3f3;
}
.table-type4 .table-head-group,
.table-type4 .table-bg1,
.table-type4 .table-th,
.table-type4 th {
    background-color: #f3f3f3;
}
table.tbl-form01 th {
    background-color: #f3f3f3;
}

.table-head-group .table-cell, .table thead th {
    color: #333;
    font-weight: bold;
}

.table-nopadded th, .table-nopadded td {
    padding: 15px 0  !important;
}

.table-type2 .table-head-group,
.table-type2 .table-bg1,
.table-type2 .table-th,
.table-type2 th {
    background-color: #fbf9f6;
}

.table-caption {
    display: table-caption;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #999;
}
.table-caption b {
    color: #333;
}
.table-column-group {
    display: table-column-group;
}
.table-column {
    display: table-column;
}
.table-column.num { width: 60px }
.table-column.entrytype {width:96px}
.table-column.date-no-lb {width:119px}
.table-column.companyname{width: 120px}
.table-column.targettype{width:89px}
.table-column.applicant{width: 75px}
.table-column.step{width:91px;}

.table-row-group {
    display: table-row-group;
}

.table-row {
    display: table-row;
}

.table-cell, td, th {
    display: table-cell;
    line-height: 1.25;
    color: #666;
    border-bottom: #ddd solid 1px;
}

.table-cell {
    padding: 15px 10px 15px 40px;
}
.table-col-2 th, .table-col-2 .table-th {
    width: 222px;
    word-break: keep-all;
}

th {
    padding: 15px 10px 15px 40px;
    font-weight: 400;
}

td {
    padding: 10px 10px 10px 40px;
}

.table-cell-number {
    display: table-cell;
    padding: 30px;
}

.table.table-narrow .table-cell,
.table.table-narrow td,
.table.table-narrow th {
    padding-left: 30px;
}
table.table-narrow td, table.table-narrow th {
    padding-left: 30px;
}

.table.table-narrower .table-cell,
.table.table-narrower td,
.table.table-narrower th {
    padding-left: 20px;
}
table.n-2 td, table.n-2 th {
    padding-left: 20px;
    text-align: left;
}

.table-row .table-cell.status {
    font-weight: bold;
}

.table-row.wanted .table-cell.status,
tr.wanted td.status {
    color: #f67510;
}

.table-row.working .table-cell.status,
tr.working td.status {
    color: #e21837;
}

.table-row.canceled .table-cell,
tr.canceled td {
    color: #ccc;
}

.table-dotted-border {
    border-bottom-style: dotted;
}

.table-stripe .table-row-group .table-row:nth-of-type(odd),
.table-stripe tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}

.person-in-charge {
    padding: 0;
    margin: 0;
}

.person-in-charge li {
    margin-bottom: 10px;
}

.person-in-charge label {
    width: 110px;
    display: inline-block;
}

.tbl-form02{width: 100%; table-layout: fixed; background-color: transparent; border-spacing: 0; font-size: 15px; border-top:2px solid #000;margin-bottom:10px;}
.tbl-form02 th{height: 32px; line-height: 24px; padding: 10px 10px 10px 17px; border-bottom: 1px solid #e2e2e2; border-top: none; color: #767676;vertical-align:middle; }
.tbl-form02 td{height: 32px; line-height: 24px; padding: 10px 40px 10px 17px; border-bottom: 1px solid #e2e2e2; border-top: none; color: #767676;vertical-align:middle;}
.tbl-form02 th { background:#f6f6f6;text-align:left;}
.tbl-form02.n-2 th:nth-child(1){width: 20%;}
.tbl-form02.n-2 td:nth-child(1){width: 80%;}
.tbl-form02 sup{font-size:15px;color:#df2e38;}
.tbl-form02 .textarea{display: inline-block; width:100%; padding:10px; font-size:14px; line-height: 22px; vertical-align: middle; color: #767676; border: 1px solid #cecece; background: #fbfbfb; box-sizing: border-box;font-family: "nanumsquarer";}
.tbl-form02.bar{border-top:3px solid #000;}

.table-td-border-r {
    border-right: 1px solid #ddd;
}
.address-search .zipcode {
    min-width: 60px;
}
.address-search .method {
    min-width: 60px;
}
.address-search-tip {
    width: 500px;
    margin: 0 auto;
    padding-left: 14px;
    font-size: 14px;
}
.address-search-tip li {
    color: #999;
    margin-bottom: 13px;
}

/* footer */
footer {
    padding: 50px 0;
    text-align: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto 30px auto;
    width: 350px;
}

.footer-logo img {
    width: auto;
    height: 70px;
}

.footer-menu {
    margin-bottom: 35px;
    padding-left: 0;
}

.footer-menu li {
    padding: 0 20px;
}

.site-info li {
    padding: 0 8px;
}

.footer-menu li,
.site-info li {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1px' height='14px'%3E%3Cpath fill-rule='evenodd' fill='rgb(134, 134, 134)' d='M0.000,-0.000 L1.000,-0.000 L1.000,14.000 L0.000,14.000 L0.000,-0.000 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.footer-menu li:last-child,
.site-info li:last-child {
    background-image: none;
}

.footer-menu a {
    color: #000;
}

.site-info,
.copyright {
    color: #8d8d8d;
    font-size: 14px;
    padding-left: 0;
}

.site-info span,
.copyright span {
    color: #333;
}

/* modal override */
.modal {
    border-radius: 20px;
    max-width: 1108px;
    padding: 40px 30px;
}
.blocker {
    z-index: 200;
}
.modal.modal-sm {
    width: 360px;
}

.modal_container {
    max-height: 520px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal a.close-modal {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26px' height='26px'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M25.021,22.192 L22.192,25.021 L13.000,15.828 L3.808,25.021 L0.979,22.192 L10.172,13.000 L0.979,3.808 L3.808,0.979 L13.000,10.172 L22.192,0.979 L25.021,3.808 L15.828,13.000 L25.021,22.192 Z'/%3E%3C/svg%3E");
    background-color: #e21837;
    background-size: 24px 24px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: -30px;
    right: 30px;
}

p.active-info {
    margin: 0;
    display: inline-block;
    width: 30%;
}
.popup-wrap {
    position: relative;
}
/* modal-search */
.modal.style-popup {
    width: 560px;
}

/* login page */
.login-type-select {
    text-align: center;
    padding: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='2px' height='330px'%3E%3Cpath fill-rule='evenodd' opacity='0.502' fill='rgb(141, 141, 141)' d='M-0.000,0.000 L2.000,0.000 L2.000,330.000 L-0.000,330.000 L-0.000,0.000 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top center;
}

.login-type-select li {
    padding: 280px 0 0 0;
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    width: 240px;
}

.login-type-1 {
    background-image: url('../img/login_bg1.png');
    margin: 0 100px 0 0;
}

.login-type-2 {
    background-image: url('../img/login_bg2.png');
    margin: 0 0 0 100px;
}

.login-box {
    margin: 0 auto;
    padding-top: 260px;
    background-repeat: no-repeat;
    background-position: center 40px;
    width: 420px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}

.login-box-bg1 {
    background-image: url('../img/login_bg3.png')
}

.login-box-bg2 {
    background-image: url('../img/login_bg4.png')
}

.login-box-bg3 {
    background-image: url('../img/login_bg5.png')
}

.login-box input {
    line-height: 50px;
    margin-bottom: 1em;
}

.login-menu {
    text-align: center;
    padding: 0;
}

.login-menu li {
    padding: 0 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1px' height='14px'%3E%3Cpath fill-rule='evenodd' fill='rgb(134, 134, 134)' d='M0.000,-0.000 L1.000,-0.000 L1.000,14.000 L0.000,14.000 L0.000,-0.000 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.login-menu li:last-child {
    background: none;
}

.login-menu a {
    color: #666;
}

.login-tab {
    width: 420px;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid #c6c6c6;
}

.login-tab li {
    width: 50%;
    text-align: center;
    height: 100%;
    font-size: 18px;
}

.login-tab li a {
    display: block;
    color: #333;
    padding: 25px 0;
    background-color: #fff;
}

.login-tab li.active a {
    color: #e21837;
    font-weight: bold;
    border-bottom: 4px solid #e21837;
}

.login-tab+.login-box {
    border-top: none;
}

/* 회원가입 */
.term {
    height: 420px;
    overflow-y: scroll;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
}

.join-progress {
    width: 462px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -9999px;
    margin: 0 auto 40px auto;
}

.join-progress-1 {
    background-image: url('../img/join_progress_title1.png');
}

.join-progress-2 {
    background-image: url('../img/join_progress_title2.png');
}

.join-progress-3 {
    background-image: url('../img/join_progress_title3.png');
}

.join-complete {
    font-size: 21px;
    padding: 40px 320px;
}
.join-complete h3 {
    font-size: 26px; 
}

/* */
.about-graph {
    margin: 40px 74px;
    position: relative;
}

.about-graph ul {
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 500px;
    padding: 30px;
    position: relative;
    height: 300px;
}

.about-graph li {
    font-family: "NanumSquare", "Noto Sans KR", sans-serif;
    font-weight: 800;
    color: #fff;
    position: absolute;
    font-size: 60px;
    border-radius: 500px;
    width: 240px;
    height: 240px;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    line-height: 0.7;
    padding: 78px 0;
    list-style: none;
}

.about-graph span {
    font-size: 20px;
    font-weight: 400;
}

.about-graph1 {
    background-color: #fc5101;
    left: 30px;
}

.about-graph2 {
    background-color: #02aef0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.about-graph3 {
    background-color: #71bf45;
    right: 30px;
}

/* 게시판 */
.FAQ_title.trigger {
    width: 147px;
}
.FAQ_Q, .FAQ_A {
    width: 60px;
}

/* 달력 */
.ui-calendar {
    width: 100%;
}
.ui-calendar th, .ui-calendar td {
    padding: 10px;
}

/* util */
.img-responsive {
    width: 100%;
    max-width: 100%;
}

.bg-gray {
    background-color: #f2f2f2;
}

.bg-beige {
    background-color: #cabeaf;
}

.bg-gradient {
    background-image: -moz-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
    background-image: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
}

.mgv-1em {
    margin-top: 1em;
    margin-bottom: 1em;
}

.mgt-10 {
    margin-top: 10px;
}

.mgt-20 {
    margin-top: 20px;
}

.mgt-50 {
    margin-top: 50px !important;
}

.mgb-5 {
    margin-bottom: 5px;
}

.mgb-10 {
    margin-bottom: 10px;
}

.mgb-20 {
    margin-bottom: 20px;
}

.mgb-30 {
    margin-bottom: 30px;
}

.mgb-50 {
    margin-bottom: 50px;
}

.mbe-1 {
    margin-block-end: 1em !important;
}

.mbe-2 {
    margin-block-end: 2em !important;
}

.mgr-10 {
    margin-right: 10px;
}

.pdv-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.width250 {
    width: 250px;
}

.width100 {
    width: 100px;
}

.full-width {
    width: 100%;
}

.list-nobullet {
    margin: 0;
    padding: 0;
}

.list-nobullet li {
    list-style: none;
    line-height: 1.75;
}

.list-h li {
    display: inline-block;
    list-style: none;
}

.centering-v {
    display: flex;
    align-items: center;
}

.centering-h {
    display: flex;
    justify-items: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both:after {
    content: "";
    clear: both;
    display: block;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

#breadcrumb_nav {
    background: #e21837;
    font-size: 16px;
    color: white;
    border-color: transparent;
}

span.pointer {
    position: relative;
    right: 35px;
    top: 0;
    text-align: center;
    z-index: 1;
}

span.pointer i {
    margin-top: 6px;
}

.hr-dotted {
    border-top: 1px dashed #ccc;
    border-bottom: none;
}

.visible-xs {
    display: none;
}

/* 봉사인증서 추가 - 강 */
section div.service {
    color: #666;
    text-align: center;
    background: url("../img/service_bg.png") no-repeat center;
    height: 1080px;
    width: 940px;
    margin: 0 auto;
    padding: 108px 72px;
}

section div.service ul, li {
    padding-left: 0;
}

section div.service h1 {
    font-size: 54px;
    margin: 24px 0 72px 0;
    color: #333;
}

section div.service h2 {
    font-weight: 400;
    font-size: 34px;
    line-height: 51px;
    margin: 68px 0 150px 0;
}

section div.service h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 16px
}

section div.service h4 {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

section div.service ul li {
    list-style: none;
    text-align: left;
}

section div.service ul li {
    line-height: 36px;
    font-size: 22px;
}





/*========================민정추가*/

.border-btm-none {
    border-bottom: 0;
}

.last-border {
    border-bottom: 2px solid #ddd;
    border-collapse: collapse;
}

.table-row.padding_l_10 .table-cell {
    padding-left: 10px;
}

.table-row.font-14 .table-cell {
    font-size: 14px;
}

/*table odd*/
.table-th-odd {
    overflow: hidden;
    background: #fbf9f6;
}

.table-th-odd>.table-cell:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table-th-odd>.table-cell:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*검색버튼*/
.wide_btn {
    padding: 15px 60px;
}

/*다운로드 버튼*/
.dw_btn {
    background: url(../img/dw_icon.png) no-repeat 10px 10px, #f3f3f3;
    padding-left: 30px;
    padding-right: 15px;
}

.mgb-0 {
    margin-bottom: 0;
}

.mgb-10 {
    margin-bottom: 10px;
}

.mgl-10 {
    margin-left: 10px;
}

.mgl-20 {
    margin-left: 20px;
}

.padding_l_30 {
    padding-left: 30px;
}

.w_470 {
    width: 470px;
}

.form-control input.date_pik {
    width: 150px;
    padding-right: 0;
}


/*pagination*/

.paging a {
    display: inline-block;
    height: 30px;
    padding-top: 5px;
    vertical-align: middle;
}

.paging a span {
    font-size: 13px;
    color: #8d8d8d;
    padding-right: 30px;
    background: url('../img/pagination.png') no-repeat 7px -463px;
}

/*20190323 수정*/
.paging a span.last-page {
    background: none;
    padding-right: 0;
}

.paging a.active span {
    color: #e21837;
    font-weight: bold;
}

[class^=icon_] i,
[class*=icon_] i {
    font-size: 0;
    line-height: 0;
    text-indent: -999rem;
}

.paging .icon_first,
.paging .icon_next,
.paging .icon_prev,
.paging .icon_last {
    width: 30px;
}

.paging .icon_first,
.paging .icon_next {
    margin-right: 5px;
}

.paging .icon_next {
    margin-left: 20px;
}

.paging .icon_prev {
    margin-right: 20px;
}

.paging .icon_first {
    background: url(../img/pagination.png)no-repeat -1px -111px;
}

.paging .icon_first.disabled {
    background: url(../img/pagination.png)no-repeat -1px -7px;
}

.paging .icon_next {
    background: url(../img/pagination.png)no-repeat -1px -347px;
}

.paging .icon_next.disabled {
    background: url(../img/pagination.png)no-repeat -1px -222px;
}

.paging .icon_prev {
    background: url(../img/pagination.png)no-repeat -1px -163px;
}

.paging .icon_prev.disabled {
    background: url(../img/pagination.png)no-repeat -1px -59px;
}

.paging .icon_last {
    background: url(../img/pagination.png)no-repeat -1px -409px;
}

.paging .icon_last.disabled {
    background: url(../img/pagination.png)no-repeat -1px -284px;
}

.txt_gray {
    color: #8d8d8d;
}

/*20190318 추가*/
.container.posi_rel {
    position: relative;
}

.title_sel {
    position: absolute;
    right: 0;
    top: 0;
}

.wide_btn2,
input.wide_btn2 {
    padding: 0 35px;
}

.input_sty {
    line-height: 34px;
    padding: 0 10px;
    border: #ccc 1px solid;
    height: 36px;
}

.input_sty::placeholder {
    color: #cccccc;
}

.view_conts img {
    width: 100%;
}

.w_130 {
    width: 130px;
}

.FAQ_Q {
    font-weight: bold;
    color: #333333;
    padding-left: 15px;
}

.FAQ_A {
    font-weight: bold;
    color: #e21837;
    padding-left: 15px;
}

.table-row.FAQ_title>.table-cell:first-child {
    padding-left: 35px;
    width: 137px;
}

.table-row.FAQ_title>.table-cell:last-child {
    /* padding-left: 20px; */
    padding-right: 30px;
    background: url('../img/faq_arr.png') no-repeat 930px -52px;
}

.table-row.FAQ_title.on>.table-cell:last-child {
    font-weight: bold;
    color: #333333;
    padding-right: 30px;
    background: url('../img/faq_arr.png') no-repeat 930px 15px;
}

.table-row.FAQ_txt {
    display: none;
}

.table-row.FAQ_txt.on {
    display: table-row;
}

.table-row.FAQ_txt .table-cell:last-child {
    line-height: 1.8em;
    /* padding-left: 20px; */
}

/*20190320 추가*/
.tab_header {
    margin-top: 35px;
    /* border-bottom: 1px solid #c6c6c6; */
}

.tab_header .title_info {
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    border-top: 3px solid #333;
    margin: 0 auto;
}
.title_info_basic_btn {
    margin-bottom: 30px;
}

.tab_header .title_info h1 {
    font-size: 28px;
    display: inline;
    margin-bottom: 15px;
}
.tab_header .list-nobullet {
    
}
.tab_header .list-nobullet li {
    margin-left: 0px;
    color: #8d8d8d;
    display: inline-block;
}
.tab_header .list-nobullet li:after {
    content: "/";
    margin: 0 10px;
}

.badge-wrap {
    display: inline;
}

.title_info_basic {
    width: 840px;
    float: left;
}
.title_info_btn {
    width: 300px;
    float: right;
}

.mgl-5 {
    margin-left: 5px;
}

.tab_btn_L {
    position: absolute;

    right: 80px;
    padding-left: 25px;
    padding-right: 70px;
    color: #333;
}

.tab_btn_R {
    position: absolute;

    right: 0;
    width: 137px;
    text-align: center;
}

.tab_area {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.tab_area li {
    width: 16.66666666%;
    float: left;
    list-style: none;
    text-align: center;
}

.tab_area li:last-child {
    margin-right: 0;
}

.tab_area li.active a {
    color: #e21837;
    border-bottom: 4px solid #e21837;
    font-weight: bold;
}

.tab_area li a {
    color: #333;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: block;
    padding: 20px 0;
}

.tabcont {
    display: none;
    margin: 0 auto;
    width: 100%;
    padding-top: 40px;
}

.Basic_Info_row {
    margin: 0;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd;
}

.Basic_Info_row:last-child {
    border-bottom: 1px solid #ddd;
}

.Basic_Info_row:after {
    content: "";
    display: block;
    clear: both;
}

.Basic_Info_tit {
    width: 160px;
    padding-top: 20px;
    float: left;
    font-size: 20px;
    margin-right: 30px;
    color: #333;
    line-height: 1.5em;
    letter-spacing: -1px;
    font-weight: bold;
}

.Basic_Info_txt {
    width: 920px;
    padding-top: 20px;
    float: left;
    font-size: 16px;
    color: #666;
    line-height: 1.8em;
    letter-spacing: -1px;
}

.Basic_Info_txt p {
    margin-top: 0;
    color: #333;
}

.board_info {
    font-size: 14px;
    color: #999;
    letter-spacing: -1px;
}

.board_info span {
    color: #333;
    font-weight: bold;
}

/*20190321 추가*/
.popup_pd50 {
    padding: 50px 0;
}

.font-28 {
    font-size: 28px;
}

/*20190322 추가*/
.table a.btn-red-fill {
    color: #fff;
}

.list-top_txt {
    line-height: 3em;
}

.row.card_filter {
    margin: 0;
}

.row.card_row {
    padding-top: 20px;
}

.badge-line-red {
    background-color: #fff;
    border: 1px solid #e21837;
    color: #e21837;
}

.badge-gray {
    background-color: #8d8d8d;
}

.align-top {
    vertical-align: top;
}

.mgt-0 {
    margin-top: 0;
}

.mgt-5 {
    margin-top: 5px;
}

/* id selector */
#voluntarytype,
#voluntarystatus {
    width: 130px;
    padding-left: 15px;
}

#faqTypeList {
    padding-left: 15px;
}

#searchFrm select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 36px;
    border-radius: 0;
    background-color: #f3f3f3;
    border-color: #ccc;
    border-width: 1px;
    color: #666;
}
.sep-full-width {
    margin: 0;
    border-bottom: 1px solid #c6c6c6;
    border-top: none;
}

/* 이용약관 */
.style-term {
    font-size: 16px;
    color: #666;
    line-height: 1.275em;
    word-spacing: 0;
}
.style-term p {
}
.style-term .term-update {
    border-top: 3px solid #333;
    background-color: #f3f3f3;
    padding: 5px 20px;
}
.style-term h1 {
    color: #e21837;
    font-size: 20px;
    padding: 0 0 20px 0;
    margin: 0 0 40px 0;
    border-bottom: 3px solid #e21837;
}
.style-term h2 {
    margin: 30px 0 20px 0;
}
.style-term ul, .style-term ol {
    padding-left: 30px;
}
.style-term li {
    margin: 1em 0 0.5em 0;
}
.style-term h3 {
    font-size: 16px;
}
.bg-email {
    background: url('../img/bg_email.png') no-repeat center 0;
    height: 300px;
}

/* 모바일 override */
@media (max-width: 576px) {

    /* grid */
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    /* grid gutter 설정*/
    *[class|="col"] {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
    }

    .col-half, .col-2-1, .col-4-2, .col-6-3, .col-10-5, .col-12-6, .col-3-1, .col-6-2, .col-12-4, .col-3-2, .col-6-4, .col-12-8, .col-4-1, .col-12-3, .col-4-3, .col-12-9, .col-5-1, .col-10-2, .col-5-2, .col-10-4, .col-5-3, .col-10-6, .col-5-4, .col-10-8, .col-6-1, .col-12-2, .col-6-5, .col-12-10, .col-10-1, .col-10-3, .col-10-7, .col-10-9, .col-12-1, .col-12-5, .col-12-7, .col-12-11, .col-full, .col-md-half, .col-md-2-1, .col-md-4-2, .col-md-6-3, .col-md-10-5, .col-md-12-6, .col-md-3-1, .col-md-6-2, .col-md-12-4, .col-md-3-2, .col-md-6-4, .col-md-12-8, .col-md-4-1, .col-md-12-3, .col-md-4-3, .col-md-12-9, .col-md-5-1, .col-md-10-2, .col-md-5-2, .col-md-10-4, .col-md-5-3, .col-md-10-6, .col-md-5-4, .col-md-10-8, .col-md-6-1, .col-md-12-2, .col-md-6-5, .col-md-12-10, .col-md-10-1, .col-md-10-3, .col-md-10-7, .col-md-10-9, .col-md-12-1, .col-md-12-5, .col-md-12-7, .col-md-12-11, .col-md-full, .col-sm-half, .col-sm-2-1, .col-sm-4-2, .col-sm-6-3, .col-sm-10-5, .col-sm-12-6, .col-sm-3-1, .col-sm-6-2, .col-sm-12-4, .col-sm-3-2, .col-sm-6-4, .col-sm-12-8, .col-sm-4-1, .col-sm-12-3, .col-sm-4-3, .col-sm-12-9, .col-sm-5-1, .col-sm-10-2, .col-sm-5-2, .col-sm-10-4, .col-sm-5-3, .col-sm-10-6, .col-sm-5-4, .col-sm-10-8, .col-sm-6-1, .col-sm-12-2, .col-sm-6-5, .col-sm-12-10, .col-sm-10-1, .col-sm-10-3, .col-sm-10-7, .col-sm-10-9, .col-sm-12-1, .col-sm-12-5, .col-sm-12-7, .col-sm-12-11, .col-sm-full { width: 100%; }
    .col-xs-half, .col-xs-2-1, .col-xs-4-2, .col-xs-6-3, .col-xs-10-5, .col-xs-12-6 { width: 50%; }
    .col-xs-3-1, .col-xs-6-2, .col-xs-12-4 { width: 33.3333333333%; }
    .col-xs-3-2, .col-xs-6-4, .col-xs-12-8 { width: 66.6666666666%; }
    .col-xs-4-1, .col-xs-12-3 { width: 25%; }
    .col-xs-4-3, .col-xs-12-9 { width: 75%; }
    .col-xs-5-1, .col-xs-10-2 { width: 20%; }
    .col-xs-5-2, .col-xs-10-4 { width: 40%; }
    .col-xs-5-3, .col-xs-10-6 { width: 60%; }
    .col-xs-5-4, .col-xs-10-8 { width: 80%; }
    .col-xs-6-1, .col-xs-12-2 { width: 16.6666666666%; }
    .col-xs-6-5, .col-xs-12-10 { width: 83.3333333333% }
    .col-xs-7-1 { width: 14.2857143%; }
    .col-xs-7-6 { width: 85.7142858%; }
    .col-xs-10-1 { width: 10%; }
    .col-xs-10-3 { width: 30%; }
    .col-xs-10-7 { width: 70%; }
    .col-xs-10-9 { width: 90%; }
    .col-xs-12-1 { width: 8.3333333333%; }
    .col-xs-12-5 { width: 41.6666666666%; }
    .col-xs-12-7 { width: 58.3333333333%; }
    .col-xs-12-11 { width: 91.6666666666%; }
    .col-xs-full { width: 100%; }

    .container {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }

    /* layout */
    section {
        padding: 40px 0;
    }

    /* typo */
    h1 {
        font-size: 30px;
    }

    h1.page-title.dashboard-title {
        font-size: 18px;
    }
    h1.page-title.dashboard-title small {
        font-size: 1em;
    }
    h2 {
        font-size: 18px;
    }
    .h2-style-1 {
        font-size: 18px;
    }
    .msg-complete {
        font-size: 21px;
    }

    .carousel-typo {
        margin: 0 auto;
        padding: 0 0 0 0;
        width: 100%;
        color: #fff;
        letter-spacing: -2px;
    }

    /* header */
    body {
        padding-top: 60px;
        font-size: 13px;
    }

    header {
        height: 60px;
        border-bottom: none;
    }

    .logo {
        position: absolute;
        left: 0;
        right: 0;
        padding-top: 16px;
        padding-bottom: 16px;
        text-align: center;
        z-index: 0;
    }

    .logo a {
        background-size: 118px;
        width: 120px;
        height: 27px;
    }

    .navigation {
        position: fixed;
        left: -100vw;
        background-color: rgba(0, 0, 0, 0.8);
        top: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        z-index: 99;
        visibility: hidden;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }

    .gnb {
        background-color: #fff;
        padding: 60px 0 0 0;
        background-image: url('../img/logo.svg');
        background-size: 120px 27px;
        background-repeat: no-repeat;
        background-position: 15px 17px;
        width: 320px;
    }

    .gnb>ul {
        padding: 0;
    }

    .mobile-crewMenu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

    .mobile-plus-btn {
        position: relative;
        float: right;
        top: -100px;
    }

    .gnb>ul>li {
        display: block;
        background-color: #e21837;
        border-bottom: 1px solid #eb5e73;
    }

    .gnb>ul>li>a {
        color: #fff;
        font-weight: bold;
        width: 320px;
        padding: 11px 15px;
        font-size: 16px;
    }

    .gnb>ul>li>.active {
        color: #fff;
    }

    .navigation .gnb .lnb-wrap {
        display: block;
        background-color: #f3f3f3;
        top: auto;
        padding-left: 0;
        border-top: none;
    }

    .navigation .gnb .lnb-wrap li {
        display: block;
        /*display: none;*/
    }

    .gnb .active+.lnb-wrap {
        position: relative;
    }

    /*.gnb .active + .lnb-wrap li{*/
    /*!*display: block;*!*/
    /*position: relative;*/
    /*}*/
    .lnb-wrap a {
        text-align: left;
        display: block;
        padding: 18px 0;
        margin-left: 30px;
        line-height: 1em;
        border-bottom: 1px solid #ccc;
    }

    .lnb-wrap li:last-child a {
        border-bottom: none;
    }

    .navbar-toggle {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='40px' height='32px'%3E%3Cpath fill-rule='evenodd' fill='rgb(51, 51, 51)' d='M38.500,32.000 L1.500,32.000 C0.672,32.000 0.000,31.328 0.000,30.500 L0.000,29.500 C0.000,28.672 0.672,28.000 1.500,28.000 L38.500,28.000 C39.328,28.000 40.000,28.672 40.000,29.500 L40.000,30.500 C40.000,31.328 39.328,32.000 38.500,32.000 ZM38.500,4.000 L1.500,4.000 C0.672,4.000 0.000,3.328 0.000,2.500 L0.000,1.500 C0.000,0.672 0.672,0.000 1.500,0.000 L38.500,0.000 C39.328,0.000 40.000,0.672 40.000,1.500 L40.000,2.500 C40.000,3.328 39.328,4.000 38.500,4.000 ZM1.500,14.000 L28.500,14.000 C29.328,14.000 30.000,14.672 30.000,15.500 L30.000,16.500 C30.000,17.328 29.328,18.000 28.500,18.000 L1.500,18.000 C0.672,18.000 0.000,17.328 0.000,16.500 L0.000,15.500 C0.000,14.672 0.672,14.000 1.500,14.000 Z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: 20px 16px;
        background-position: 50% 50%;
        border: none;
        position: absolute;
        left: 0;
        width: 50px;
        height: 60px;
        z-index: 1;
    }

    .navigation.active {
        transform: translateX(100vw);
        visibility: visible;
    }

    /* .navbar-toggle:focus + .navigation {
        transform: translateX(100vw);
        visibility: visible;
    } */
    .signinMenu {
        width: 320px;
        float: initial;
        margin-bottom: 100px;
    }

    .signinMenu li {
        width: 50%;
        text-align: center;
    }

    .signinMenu>ul>li>a {
        background-color: #8d8d8d;
        color: #fff;
        width: 100%;
        padding: 14px 0;
    }
    .signinMenu > ul > li:first-child {
        margin-right: 0;
    }

    .signinMenu a.active {
        color: #fff;
    }
    .term {
        margin-left: -10px;
        font-size: 14px;
    }

    .nav-close {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30px' height='30px'%3E%3Cpath fill-rule='evenodd' fill='rgb(51, 51, 51)' d='M17.822,14.984 L29.525,26.688 C30.113,27.276 30.113,28.228 29.525,28.816 L28.816,29.525 C28.229,30.113 27.276,30.113 26.688,29.525 L14.984,17.822 L3.280,29.525 C2.693,30.113 1.740,30.113 1.153,29.525 L0.443,28.816 C-0.145,28.228 -0.145,27.276 0.443,26.688 L12.147,14.984 L0.443,3.281 C-0.145,2.693 -0.145,1.740 0.443,1.153 L1.153,0.443 C1.740,-0.145 2.693,-0.145 3.280,0.443 L14.984,12.147 L26.688,0.443 C27.276,-0.145 28.229,-0.145 28.816,0.443 L29.525,1.153 C30.113,1.740 30.113,2.693 29.525,3.281 L17.822,14.984 Z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 15px 15px;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 22px;
        left: 290px;
        width: 15px;
        height: 15px;
        display: inline-block;
    }

    .select-box+.rect-btn {
        padding: 0;
        margin-top: 10px;
        height: auto;
    }

    /* CTA */
    .cta .row {
        display: block;
    }


    #career_year {
        display: block;
    }

    /* carousel */
    .swiper-button-next,
    .swiper-button-prev,
    .carousel-thumbs,
    .story-button,
    .newsticker-button {
        display: none;
    }

    .carousel {
        height: 510px;
    }

    .carousel-top {
        height: 510px;
    }

    .carousel-top .container {
        height: 510px;
    }

    .carousel-typo h1 {
        font-size: 36px;
        font-weight: bold;
    }

    .carousel-typo p {
        font-size: 16px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 5px;
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background: #f3f3f3;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background: #f67510;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 28px;
    }

    /* section */
    .section-typo h1 {
        font-size: 30px;
    }

    .section-typo p {
        font-size: 18px;
    }

    .bg-section1 {
        background-position: -190px bottom;
        background-size: auto 170px;
        height: 360px;
    }

    .section-typo {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* card */
    .card .list-nobullet li {
        font-size: 16px;
    }

    /* svalue */
    .svalue h2 {
        font-size: 18px;
        padding-bottom: 14px;
    }

    .svalue.svalue-lg h2 {
        margin-bottom: 14px;
    }

    .svalue.svalue-lg p {
        font-size: 40px;
        margin-bottom: 25px;
    }

    .svalue.svalue-lg sup {
        font-size: 15px;
        top: -18px;
    }

    .svalue.svalue-md p {
        font-size: 20px;
        margin-bottom: 15px;
        padding-left: 23px;
    }

    .svalue.svalue-md sup {
        font-size: 12px;
        top: -5px;
    }

    .svalue.svalue-md h2 {
        font-size: 13px;
        padding-top: 18px;
        padding-bottom: 7px;
        margin-bottom: 12px;
    }

    .svalue p {
        background-size: 20px auto;
    }

    .join-progress {
        width: 265px;
        height: 75px;
        text-indent: -9999px;
        margin: 0 auto 40px auto;
        background-size: 265px 75px;
    }

    .join-progress-1 {
        background-image: url('../img/join_progress_title1m.png');
    }

    .join-progress-2 {
        background-image: url('../img/join_progress_title2m.png');
    }

    .join-progress-3 {
        background-image: url('../img/join_progress_title3m.png');
    }

    .join-progress-3+.table .h2-style-1 {
        font-size: 18px;
    }

    .rect-btn.join-probono-btn {
        display: inline-block;
        background-color: #f3f3f3;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border: #ccc 1px solid;
        font-size: 14px;
        line-height: 33px;
        height: 36px;
        padding: 0 0px;
        color: #666;
        letter-spacing: -1px;
        text-align: center;
        margin-top: 3px;
    }
    .join-complete {
        font-size: 13px;
        padding: 20px 10px;
    }
    .join-complete h3 {
        font-size: 18px; 
    }

    /* newsticker */
    section.newsticker {
        height: 60px;
    }

    .newsticker h1 {
        font-size: 13px;
        height: 60px;
        margin: 0 15px 0 0;
    }

    .newsticker-container {
        height: 60px;
    }

    .newsticker-container .swiper-slide {
        font-size: 13px;
    }

    .newsticker .btn.btn-more {
        text-indent: -9999px;
        border-radius: 50px;
        background-color: #f3f3f3;
        padding: 0;
        width: 28px;
        height: 28px;
        /*margin-top: 9px;*/
        background-position: 7px 7px;
        border-width: 1px;
        background-size: 12px;
    }

    .newsticker-wrap {
        width: 200px;
    }

    /* login */
    .login-type-select {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='2px' height='240px'%3E%3Cpath fill-rule='evenodd' opacity='0.502' fill='rgb(141, 141, 141)' d='M-0.000,0.000 L2.000,0.000 L2.000,240.000 L-0.000,240.000 L-0.000,0.000 Z'/%3E%3C/svg%3E");
        background-size: 1px 120px;
    }

    .login-type-select li {
        padding: 140px 0 0 0;
        background-size: 120px;
        width: 125px;
    }

    .login-type-1 {
        margin: 0 10px 0 0;
    }
    .login-type-2 {
        margin: 0 0 0 10px;
    }

    .login-type-select li .btn {
        letter-spacing: -2px;
        width: 100%;
    }

    .login-box {
        width: 100%;
    }

    .login-tab {
        width: 100%;
    }

    /* button */
    .btn-group {
        margin-top: 20px;
    }
    .btn-group .btn {
        width: 100%;
        margin-bottom: 10px;
    }
    .btn-group .btn {
        margin-left: 0;
        margin-right: 0;
    }
    .btn {
        font-size: 16px;
        padding: 14px 7px;
        border-radius: 10px;
    }

    .btn-more {
        border-radius: 10px;
        width: 100%;
    }

    .circle-btn-more {
        position: absolute;
        right: 15px;
    }
    .btn-popup-close {
        position: absolute;
        top: -5px;
        right: 0;
        width: 30px;
        height: 30px;
        background: url('../img/btn_close.png') no-repeat 50% 50%;
        background-size: cover;
    }

    .rect-btn,
    input.rect-btn {
        line-height: 38px;
        font-size: 13px;
    }

    .select-box+.rect-btn {
        width: 100%;
        padding: 0;
        margin-top: 0;
        text-align: center;
    }

    .profile-edit .select-box {
        width: 100%;
        margin-right: 0;
    }

    #skipBtn {
        text-align: center;
        display: block;
        width: 100%;
        position: relative;
        margin-right: 5px;
    }

    /* FAQ */
    .table-row.FAQ_title>.table-cell:last-child {
        background: url('../img/faq_arr.png') no-repeat 97% -52px;
    }

    .table-row.FAQ_title.on>.table-cell:last-child {
        background: url('../img/faq_arr.png') no-repeat 97% 15px;
    }

    /* breadcrumb */
    .breadcrumb {
        background-color: #e21837;
        width: 100%;
    }

    .breadcrumb select {
        /*opacity: 0;*/
        font-size: 13px;
    }

    .breadcrumb ul {
        width: 100%;
        font-size: 16px;
        color: #fff;
        margin: 0;
        padding: 13px 0;
    }

    .breadcrumb li {
        display: inline-block;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16px' height='27px'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M1.969,27.000 L16.000,13.656 L2.000,0.344 L0.031,2.250 L12.000,13.656 L-0.000,25.062 L1.969,27.000 Z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 97% center;
        background-size: 8px 13px;
        padding-right: 23px;
    }

    .breadcrumb li:last-child {
        background: none;
    }

    .breadcrumb a {
        color: #fff;
    }

    .breadcrumb label {
        font-weight: bold;
    }

    /* table */
    .table .table-cell,
    .table td,
    .table th,
    .table.table-narrow .table-cell,
    .table.table-narrow td,
    .table.table-narrow th,
    .table.table-narrower .table-cell,
    .table.table-narrower td,
    .table.table-narrower th {
        padding-left: 10px;
        padding-right: 0;
    }
    .table {
        margin-bottom: 40px;
    }
    .table-caption {
        font-size: 13px;
    }
    .table-cell-number {
        padding: 0px 10px;
    }
    .table-head-group .table-cell {
        text-align: center;
    }

    .table-cell.status {
        width: 58px;
        text-align: center;
    }
    .table-cell.status2 {
        width: 70px;
    }
    .table-cell.participant {
        width: 58px;
    }
    .table-cell.category {
        width: 35px;
    }
    .table-cell.sphere {
        width: 65px;
    }
    .table-cell.author {
        width: 50px;
    }
    .table-cell.date {
        width: 43px;
    }
    .table-cell.date-no-lb {
        width: 80px;
    }
    .table-cell.num {
        width: 34px;
    }
    .table-col-2 th, .table-col-2 .table-th {
        width: 90px;
        font-size: 12px;
    }
    .table-cell.visible-xs {
        display: table-cell;
    }

    /* 봉사 인증서 */
    section div.service {
        width:280px;
        height: 335px;
        background-size: 280px 335px;
        padding: 35px 23px;
    }
    section div.service h4 {
        font-size: 5.37px;
        margin-bottom: 7px;
    }
    section div.service h1 {
        font-size: 17.89px;
        margin: 7px 0 20px 0;
    }
    section div.service ul li {
        font-size: 7.16px;
        line-height: 1.6363;
    }
    section div.service h2 {
        font-size: 10.73px;
        line-height: 1.5;
        margin: 20px 0 30px 0;
    }
    section div.service h3 {
        font-size: 7.75px;
        margin-bottom: 4px;
    }

    /* form */
    #tel-private1,
    #tel-private2,
    #tel-private3,
    #tel-workplace1,
    #tel-workplace2,
    #tel-workplace3 {
        width: 33.33333333%
    }

    input.input_sty {
        line-height: 38px;
        width: calc(100% - 104px);
    }

    .board-category {
        /* line-height: 38px; */
        line-height: 1.15;
        border-radius: 0;
        width: 100%;
        height: 40px;
        padding: 10px;
        background-color: #fff;
    }

    .form-control select {
        height: 40px;
    }

    .board_info {
        width: 100%;
        display: block;
    }

    #searchType {
        width: 100%;
        margin-bottom: 5px;
    }

    .input_sty {
        float: left;
        width: 70%;
    }

    #asc {
        height: 40px;
    }

    .form-control input[type='button'] {
        height: 36px;
        width: 28%;
    }

    .form-control input:not([type='file']) {
        line-height: 38px;
    }

    .form-control select {
        border-radius: 0;
        vertical-align: top;
    }

    .myinfo-modify input,
    .myinfo-modify select {
        width: 100%;
    }

    #searchText.input_sty {
        height: 40px;
        width: 62.7654321%;
    }
    .profile-edit th {
        width: 90px;
        font-size: 12px;
        word-break: keep-all;
    }
    .profile-edit input[type="text"], .profile-edit input[type="password"], .profile-edit input[type="number"], .profile-edit input[type="date"], .profile-edit input[type="url"] {
        width: 100%;
    }
    .profile-edit .rect-btn {
        min-width: 90px;
    }
    .profile-edit input + .rect-btn, .profile-edit input + select {
        margin-left: 0;
    }
    label.rect-btn + input[type="file"] + input[type="text"] {
        margin-right: 0;
        margin-top: 5px;
    }
    .numseparator {
        width: 4%;
    }
    td.input-chainnum input, td.input-chainnum select, input.input-small.input-small {
        width: 29%;
    }
    .profile-edit input[type="email"] {
        width: 43%;
    }
    .profile-edit input[type="email"] + .numseparator {
        width: 12.5%;
    }
    .profile-edit td a:last-child {
        margin-left: 0;
        /* margin-top: 5px; */
    }
    .profile-edit .form-inline input[type="text"] {
        margin: 5px 0;
    }
    .form-control select {
        background-size: 30px 100%;
        padding-right: 20px;
        background-image: url('../img/bg_select_m.png');
    }
    .profile-edit select {
        width: 100%;
        margin-bottom: 5px;
    }
    .profile-edit .feedback {
        display: block;
        width: 100%;
        margin-top: 5px;
    }
    .profile-edit .rect-btn.plus, .profile-edit .rect-btn.minus {
        max-width: 44px;
        min-width: 44px;
    }
    .profile-edit .btn-adjust {
        float: right;
    }
    span.input-range {
        display: none;
    }
    .form-inline input[type="date"] {
        margin-bottom: 5px;
    }

    /* progress bar */
    .progress-step-text li {
        font-size: 8px;
    }
    .progress-status p {
        font-size: 11px;
    }
    .progress-step-1 .col-xs-5-4, .progress-step-2 .col-xs-5-4, .progress-step-3 .col-xs-5-4, .progress-step-4 .col-xs-5-4, .progress-step-5 .col-xs-5-4, .progress-step-6 .col-xs-5-4, .progress-step-cancel .col-xs-5-4 {
        padding-right: 5px;
    }
    .progress-step-1 .col-xs-5-1, .progress-step-2 .col-xs-5-1, .progress-step-3 .col-xs-5-1, .progress-step-4 .col-xs-5-1, .progress-step-5 .col-xs-5-1, .progress-step-6 .col-xs-5-1,.progress-step-cancel .col-xs-5-1 {
        padding-left: 5px;
    }
    .progress-step-1 .col-xs-7-6, .progress-step-2 .col-xs-7-6, .progress-step-3 .col-xs-7-6, .progress-step-4 .col-xs-7-6, .progress-step-5 .col-xs-7-6, .progress-step-6 .col-xs-7-6, .progress-step-cancel .col-xs-7-6 {
        padding-right: 5px;
    }
    .progress-step-1 .col-xs-7-1, .progress-step-2 .col-xs-7-1, .progress-step-3 .col-xs-7-1, .progress-step-4 .col-xs-7-1, .progress-step-5 .col-xs-7-1, .progress-step-6 .col-xs-7-1,.progress-step-cancel .col-xs-7-1 {
        padding-left: 0px;
    }
    .progress-wrap .progress {
        height: 10px;
    }
    .progress-bar {
        height: 10px;
    }
    .progress-bar:after {
        width: 4px;
        height: 4px;
        top: 3px;
        right: 3px;
    }

    /* */
    .list-filter {
        margin-top: 0;
        padding-left: 0;
        font-size: 13px;
        color: #999;
        letter-spacing: -1px;
        width: 100%;
    }

    .list-filter a {
        color: #999;
    }

    .list-filter li {
        padding: 13px 0;
        background-image: none;
        background-color: #f3f3f3;
        width: 33.33333333%;
        border: 1px solid #ccc;
        text-align: center;
        display: inline-block;
    }

    .list-filter .active {
        color: #333;
        font-weight: bold;
        background-color: #fff;
    }

    .board-search {
        float: none;
    }

    /*  */
    .card {
        height: auto;
    }
    .row.card_filter .mgr-10 {
        margin-right: 0;
    }

    .row.card_filter select {
        height: 40px;
        width: 25%;
        color: #999999;
        background-color: #f3f3f3;
        border: 1px solid #cccccc;
        border-radius: 0;
    }

    .row.card_filter .wide_btn2 {
        padding: 0;
        width: 33.33333333%;
        text-align: center;
        height: 40px;
    }

    .row.card_filter .input_sty {
        width: 63%;
        line-height: 40px;
        height: 40px;
    }

    sup {
        margin-top: -1em;
        position: relative;
        top: 0;
        width: 100%;
    }

    span.rect-btn {
        height: 36px;
        line-height: 33px;
        margin-top: 3px;
    }

    .input-70 {
        width: 70%;
    }

    .btn-30 {
        width: 28%;
        padding: 0;
        text-align: center;
        line-height: 33px;
    }

    .mgt--4 {
        margin-top: 0 !important;
    }

    #company_part_btn {
        line-height: 34px;
    }

    #hp1,
    #charge1_hp1,
    #charge2_hp1,
    #charge3_hp1,
    #mhp1,
    #tel1 {
        height: 36px;
    }

    .tbl-form02 td {
        padding: 8px 3px 8px 3px;
    }

    #charge1_email_3,
    #charge2_email_3,
    #charge3_email_3,
    #emailList {
        height: 36px;
        width: 100%;
        margin-top: 3px !important;
    }

    /* .rect-btn.plus,
    .rect-btn.minus {
        height: 100%;
        width: 30%;

    } */

    .careerList {
        display: block;
    }

    /* */
    .about-graph {
        margin: 40px 0;
    }

    .about-graph ul {
        padding: 10px;
        height: 130px;
    }

    .about-graph li {
        font-size: 28px;
        width: 110px;
        height: 110px;
        line-height: 0.7;
        padding: 35px 0;
    }

    .about-graph span {
        font-size: 13px;
    }

    .about-graph1 {
        background-color: #fc5101;
        left: 10px;
    }

    .about-graph3 {
        background-color: #71bf45;
        right: 10px;
    }

    .width100p {
        width: 100%;
    }

    /* modal override */
    .blocker {
        padding: 10px;
    }

    .modal {
        padding: 25px 10px;
        width: 99%;
    }
    .modal.modal-sm {
        width: 99%;
    }

    .modal a.close-modal {
        background-size: 12px 12px;
        width: 30px;
        height: 30px;
        top: -15px;
        right: 15px;
    }

    .modal_container {
        max-height: 360px;
    }
    

    /* edu */
    .edu-item .btn {
        width: 100%;
        text-align: center;
    }
    .edu-thumb {
        height: 0;
        overflow: hidden;
        padding-bottom: 44.609665427509%;
    }
    .edu-thumb:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* tab_area */
    .tab_area {
        width: 100%;
        font-size: 13px;
        padding-bottom: 20px;

    }

    .tab_area li {
        width: 33.333333333%;
        background-color: #f3f3f3;
        border: 1px solid #ccc;
        margin: 0;
    }

    .tab_area li a {
        color: #999;
        padding: 13px 0;
        font-size: 13px;
    }

    .tab_area li.active {
        background-color: #fff;
    }

    .tab_area li.active a {
        color: #333;
        border: none;
    }

    /* title_info */
    .badge-wrap {
        display: block;
    }
    .title_info_basic, .title_info_btn {
        width: 100%;
        float: none;
    }
    .title_info_btn {
        position: relative;
    }
    .tab_header .title_info h1 {
        display: block;
        font-size: 28px;
        line-height: 1.35;
        margin: 12px 0 20px 0;
    }
    .tab_header .title_info {
        width: 100%;
        border: none;
        padding-top: 0;
        padding-bottom: 20px;
    }
    .tab_header .list-nobullet {
        padding-bottom: 80px;
    }
    .tab_header .list-nobullet li {
        font-size: 13px;
        display: block;
    }
    .tab_header .list-nobullet li:after {
        content: "";
        margin: 0;
    }
    .tab_header .title_info {
        padding: 30px;
        border-width: 1px;
        border-color: rgb(221, 221, 221);
        border-style: solid;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 2.294px 3.277px 4px 0px rgba(0, 0, 0, 0.1);
        height: auto;
        margin-bottom: 30px;
    }

    .sep-full-width {
        display: none;
    }

    .tab_header {
        border: none;
        margin-top: 0;
    }

    .tab_header .title_info h1 {
        margin-right: 0;
    }

    .tabcont {
        width: 100%;
        padding-top: 0;
    }

    .Basic_Info_row {
        width: 100%;
        padding: 0 10px;
        border-bottom: 1px solid #ddd;
    }

    .Basic_Info_tit {
        width: 100%;
        margin-right: 0;
        border-top: none;
    }

    .Basic_Info_txt {
        width: 100%;
        border-top: none;
        padding-bottom: 20px;
    }

    .title_info .list-nobullet {
        margin-bottom: 10px;
        word-wrap: normal;
        width: 100%;
    }

    .tab_btn_L {
        top: 140px;
        left: -10px;
        padding-left: 25px;
        border-radius: 100px;
        width: 80%;
    }

    .tab_btn_R {
        top: 140px;
        right: -10px;
        border-radius: 100px;
    }

    /* about-tab */
    .about-tab {}

    .about-tab .tab_area {
        width: 100%;
        border-bottom: none;
    }

    .about-tab .tab_area li {
        width: 25%;
    }

    .about-tab .tab_area a {
        background-size: 25px;
        background-position: 50% 29%;
        padding: 46px 0 0 0;
        height: 80px;
    }

    .about-tab .tab_area li.active a {
        border-bottom: none;
        color: #e21837;
    }

    .about-tab .tabcont .table-cell {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .about-tab .tabcont .table,
    .about-tab .tabcont .table-row-group,
    .about-tab .tabcont .table-row,
    .about-tab .tabcont .table-cell {
        display: block;
        letter-spacing: -1px;
    }

    .about-tab .tabcont .table-cell:first-child {
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        border-bottom: none;
        padding-bottom: 0;
    }

    .about-tab .tabcont .trigger .table-cell:last-child {
        padding-right: 35px;
        font-size: 13px;
        background-position: 97% 14px;
    }

    .about-tab .tabcont .target .table-cell {
        font-weight: 400;
        color: #666;
    }

    .about-tab .tabcont dl {
        font-size: 13px;
    }

    .about-tab .tabcont dt {
        width: 100%;
        line-height: 1.35;
    }

    .about-tab .tabcont dd {
        width: 100%;
        line-height: 1.35;
    }

    /* event list */
    .event-list {
        border-top: none;
    }

    .event-list .post-item .post-thumb {
        margin-bottom: 15px;
    }

    .event-list .post-item a {
        font-size: 21px;
    }

    .event-list .post-item p {
        padding: 0 10px;
    }

    .event-list .post-item h2 {
        line-height: 1;
        padding: 0 10px;
    }

    #event_state {
        margin-bottom: 10px;
    }

    .event-header {
        border-top: none;
        border-bottom: 2px solid #333;
        padding-top: 0;
        padding-bottom: 13px;
        margin-bottom: 18px;
    }

    .event-title {
        font-size: 18px;
        margin-bottom: 13px;
        padding-right: 0;
    }

    .event-schedule {
        position: relative;
        right: auto;
        top: auto;
        font-size: 13px;
    }
    .address-search-tip {
        width: 100%;
    }

    /* footer */
    footer {
        padding: 30px 0;
    }

    .footer-logo {
        width: 245px;
    }

    .footer-logo img {
        width: auto;
        height: 55px;
    }

    .footer-menu {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }

    .footer-menu li {
        width: 50%;
        font-size: 13px;
        padding: 0 0 15px 0;
    }

    .footer-menu li,
    .site-info li {
        background: none;
    }

    .site-info {
        padding: 0;
        text-align: left;
    }

    .site-info li {
        margin-bottom: 13px;
        padding-left: 0;
    }
    .copyright {
        text-align: left;
    }

    /* util */
    .hidden-xs {
        display: none !important;
    }

    .visible-xs {
        display: inline-block;
    }

    .full-width-xs {
        width: 100%;
    }
    .text-center-xs {
        text-align: center;
    }
    .title_sel {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        margin-bottom: 30px;
    }

    /* id selector */
    #voluntarytype,
    #voluntarystatus {
        width: 33.33333333%;
    }

    /* regacy override */
    .tbl-form03 th,
    .tbl-form03 td {
        padding: 10px;
    }

    .input_mobile_30 {
        width: 30%;
    }

    .input_mobile_50 {
        width: 50%;
    }

    .tbl-form02 th {
        padding: 5px;
    }

    .tbl-form02 th label {
        font-size: 13px;
    }

    .width250 {
        width: 100%;
    }
}

.table-cell a:hover {
    color: #df2e38;
}

/* .table-row:hover,
tr:hover {
    background: #f3f3f3;
} */

form .table-row:hover,
form tr:hover {
    background: transparent;
}

.ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 98%;
    color: #666;
    line-height: 26px;
}

.ellipsis.mypage {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 98%;
    color: #666;
    line-height: 1.25;
}

.mgt--4 {
    margin-top: -4px;
}

.notice-top a {
    color: #e21837;
    font-weight: bold;
}