/*!
*  XEIcon 2.3.3 by @NAVER - http://xpressengine.github.io/XEIcon/ - @XEIcon
*  License - http://xpressengine.github.io/XEIcon/license.html (Font: SIL OFL 1.1, CSS: MIT License)
*/

@font-face {
  font-family: 'xeicon';
  src: url("fonts/xeicon.eot?3ka2yj");
  src: url("fonts/xeicon.eot?3ka2yj#iefix") format("embedded-opentype"), url("fonts/xeicon.woff2?3ka2yj") format("woff2"), url("fonts/xeicon.ttf?3ka2yj") format("truetype"), url("fonts/xeicon.woff?3ka2yj") format("woff"), url("fonts/xeicon.svg?3ka2yj#xeicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="xi-"],
[class*=" xi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xeicon' !important;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xi-home:before {
  content: "\e900";
}

.xi-home-o:before {
  content: "\e902";
}

.xi-bars:before {
  content: "\e91c";
}

.xi-hamburger-back:before {
  content: "\eb46";
}

.xi-hamburger-out:before {
  content: "\eb45";
}

.xi-apps:before {
  content: "\e903";
}

.xi-ellipsis-h:before {
  content: "\e94a";
}

.xi-ellipsis-v:before {
  content: "\e949";
}

.xi-drag-vertical:before {
  content: "\e996";
}

.xi-drag-handle:before {
  content: "\e960";
}

.xi-arrow-top:before {
  content: "\e912";
}

.xi-arrow-bottom:before {
  content: "\e904";
}

.xi-arrow-left:before {
  content: "\e906";
}

.xi-arrow-right:before {
  content: "\e907";
}

.xi-arrow-up:before {
  content: "\e915";
}

.xi-arrow-down:before {
  content: "\e905";
}

.xi-long-arrow-left:before {
  content: "\e908";
}

.xi-long-arrow-right:before {
  content: "\e90b";
}

.xi-long-arrow-up:before {
  content: "\e909";
}

.xi-long-arrow-down:before {
  content: "\e90a";
}

.xi-angle-left:before {
  content: "\e93b";
}

.xi-angle-left-min:before {
  content: "\e93c";
}

.xi-angle-left-thin:before {
  content: "\e93d";
}

.xi-angle-right:before {
  content: "\e93e";
}

.xi-angle-right-min:before {
  content: "\e93f";
}

.xi-angle-right-thin:before {
  content: "\e940";
}

.xi-angle-up:before {
  content: "\e944";
}

.xi-angle-up-min:before {
  content: "\e945";
}

.xi-angle-up-thin:before {
  content: "\e946";
}

.xi-angle-down:before {
  content: "\e941";
}

.xi-angle-down-min:before {
  content: "\e942";
}

.xi-angle-down-thin:before {
  content: "\e943";
}

.xi-caret-up:before {
  content: "\e92f";
}

.xi-caret-up-min:before {
  content: "\e930";
}

.xi-caret-down:before {
  content: "\e935";
}

.xi-caret-down-min:before {
  content: "\e936";
}

.xi-caret-up-circle:before {
  content: "\e931";
}

.xi-caret-up-circle-o:before {
  content: "\e932";
}

.xi-caret-down-circle:before {
  content: "\e937";
}

.xi-caret-down-circle-o:before {
  content: "\e938";
}

.xi-caret-up-square:before {
  content: "\e933";
}

.xi-caret-up-square-o:before {
  content: "\e934";
}

.xi-caret-down-square:before {
  content: "\e939";
}

.xi-caret-down-square-o:before {
  content: "\e93a";
}

.xi-arrows-h:before {
  content: "\e90e";
}

.xi-arrows-v:before {
  content: "\e90f";
}

.xi-expand:before {
  content: "\e910";
}

.xi-compress:before {
  content: "\e911";
}

.xi-arrows:before {
  content: "\e90c";
}

.xi-arrows-alt:before {
  content: "\e90d";
}

.xi-compare-arrows:before {
  content: "\e947";
}

.xi-scroll:before {
  content: "\e94b";
}

.xi-dashboard:before {
  content: "\e948";
}

.xi-dashboard-o:before {
  content: "\e95e";
}

.xi-refresh:before {
  content: "\e973";
}

.xi-catched:before {
  content: "\e923";
}

.xi-renew:before {
  content: "\e977";
}

.xi-sync:before {
  content: "\e982";
}

.xi-eye:before {
  content: "\e951";
}

.xi-eye-o:before {
  content: "\e950";
}

.xi-eye-off:before {
  content: "\e953";
}

.xi-eye-slash:before {
  content: "\e953";
}

.xi-eye-off-o:before {
  content: "\e952";
}

.xi-eye-slash2:before {
  content: "\e952";
}

.xi-lock:before {
  content: "\e964";
}

.xi-lock-o:before {
  content: "\e966";
}

.xi-unlock:before {
  content: "\e965";
}

.xi-unlock-o:before {
  content: "\e967";
}

.xi-trash:before {
  content: "\e96e";
}

.xi-trash-o:before {
  content: "\e96f";
}

.xi-flag:before {
  content: "\e961";
}

.xi-flag-o:before {
  content: "\e962";
}

.xi-expand-square:before {
  content: "\e954";
}

.xi-compress-square:before {
  content: "\e955";
}

.xi-log-in:before {
  content: "\e963";
}

.xi-log-out:before {
  content: "\e972";
}

.xi-search:before {
  content: "\e97a";
}

.xi-magnifier:before {
  content: "\e97a";
}

.xi-zoom-in:before {
  content: "\e97b";
}

.xi-magnifier-expand:before {
  content: "\e97b";
}

.xi-zoom-out:before {
  content: "\e97c";
}

.xi-magnifier-reduce:before {
  content: "\e97c";
}

.xi-subdirectory:before {
  content: "\e97e";
}

.xi-subdirectory-arrow:before {
  content: "\e981";
}

.xi-external-link:before {
  content: "\e980";
}

.xi-cog:before {
  content: "\e986";
}

.xi-view-array:before {
  content: "\e983";
}

.xi-view-carousel:before {
  content: "\e984";
}

.xi-view-column:before {
  content: "\e985";
}

.xi-view-day:before {
  content: "\e98d";
}

.xi-view-list:before {
  content: "\e993";
}

.xi-view-module:before {
  content: "\e997";
}

.xi-view-stream:before {
  content: "\e99a";
}

.xi-wrench:before {
  content: "\e99b";
}

.xi-filter:before {
  content: "\e9d9";
}

.xi-funnel:before {
  content: "\e9d9";
}

.xi-plus:before {
  content: "\e913";
}

.xi-plus-min:before {
  content: "\e914";
}

.xi-plus-thin:before {
  content: "\e9c5";
}

.xi-minus:before {
  content: "\e91a";
}

.xi-minus-min:before {
  content: "\e91b";
}

.xi-minus-thin:before {
  content: "\e9c1";
}

.xi-close:before {
  content: "\e921";
}

.xi-close-min:before {
  content: "\e922";
}

.xi-close-thin:before {
  content: "\e9af";
}

.xi-check:before {
  content: "\e928";
}

.xi-check-min:before {
  content: "\e929";
}

.xi-check-thin:before {
  content: "\e92a";
}

.xi-plus-circle:before {
  content: "\e916";
}

.xi-plus-circle-o:before {
  content: "\e917";
}

.xi-minus-circle:before {
  content: "\e91d";
}

.xi-minus-circle-o:before {
  content: "\e91e";
}

.xi-close-circle:before {
  content: "\e924";
}

.xi-close-circle-o:before {
  content: "\e925";
}

.xi-check-circle:before {
  content: "\e92b";
}

.xi-check-circle-o:before {
  content: "\e92c";
}

.xi-plus-square:before {
  content: "\e918";
}

.xi-plus-square-o:before {
  content: "\e919";
}

.xi-minus-square:before {
  content: "\e91f";
}

.xi-minus-square-o:before {
  content: "\e920";
}

.xi-close-square:before {
  content: "\e926";
}

.xi-close-square-o:before {
  content: "\e927";
}

.xi-check-square:before {
  content: "\e92d";
}

.xi-check-box:before {
  content: "\e92d";
}

.xi-checkbox-blank:before {
  content: "\ea0e";
}

.xi-check-square-o:before {
  content: "\e92e";
}

.xi-checkbox-checked:before {
  content: "\e92e";
}

.xi-radiobox-blank:before {
  content: "\e9c6";
}

.xi-radiobox-checked:before {
  content: "\e9c7";
}

.xi-cut:before {
  content: "\e9b0";
}

.xi-label:before {
  content: "\e9b1";
}

.xi-label-o:before {
  content: "\e9b2";
}

.xi-library-add:before {
  content: "\e9b3";
}

.xi-library-bookmark:before {
  content: "\e9b4";
}

.xi-tagged-book:before {
  content: "\e9b4";
}

.xi-save:before {
  content: "\e9b9";
}

.xi-lightbulb:before {
  content: "\e9be";
}

.xi-idea:before {
  content: "\e9be";
}

.xi-lightbulb-o:before {
  content: "\e9bf";
}

.xi-link:before {
  content: "\e9c0";
}

.xi-package:before {
  content: "\e9c2";
}

.xi-archive:before {
  content: "\e9c2";
}

.xi-pen:before {
  content: "\e9c3";
}

.xi-pen-o:before {
  content: "\e9c4";
}

.xi-undo:before {
  content: "\e9d2";
}

.xi-redo:before {
  content: "\e9c8";
}

.xi-switch-off:before {
  content: "\e9c9";
}

.xi-switch-on:before {
  content: "\e9ca";
}

.xi-toggle-off:before {
  content: "\e9cb";
}

.xi-toggle-on:before {
  content: "\e9cd";
}

.xi-bookmark:before {
  content: "\ea1c";
}

.xi-bookmark-o:before {
  content: "\ea1d";
}

.xi-tag:before {
  content: "\ea36";
}

.xi-tags:before {
  content: "\ea37";
}

.xi-mail:before {
  content: "\ea06";
}

.xi-envelope:before {
  content: "\ea06";
}

.xi-social-email:before {
  content: "\ea06";
}

.xi-mail-o:before {
  content: "\ea07";
}

.xi-mail-read:before {
  content: "\ea08";
}

.xi-envelope-open:before {
  content: "\ea08";
}

.xi-mail-read-o:before {
  content: "\ea09";
}

.xi-send:before {
  content: "\ea0b";
}

.xi-paper-plane:before {
  content: "\ea0b";
}

.xi-reply:before {
  content: "\ea0d";
}

.xi-reply-all:before {
  content: "\ea0c";
}

.xi-share:before {
  content: "\e9fa";
}

.xi-share-l:before {
  content: "\e9fa";
}

.xi-share-alt:before {
  content: "\e9e9";
}

.xi-share-alt-o:before {
  content: "\e9ea";
}

.xi-call:before {
  content: "\e9d3";
}

.xi-phone:before {
  content: "\e9d3";
}

.xi-call-outgoing:before {
  content: "\e9d4";
}

.xi-call-incoming:before {
  content: "\e9d6";
}

.xi-call-reception:before {
  content: "\e9d6";
}

.xi-call-missed:before {
  content: "\e9d5";
}

.xi-comment:before {
  content: "\e9d7";
}

.xi-comment-o:before {
  content: "\e9d8";
}

.xi-forum:before {
  content: "\e9f0";
}

.xi-comments:before {
  content: "\e9f0";
}

.xi-forum-o:before {
  content: "\e9f1";
}

.xi-video-call:before {
  content: "\ea18";
}

.xi-xi-film:before {
  content: "\ea18";
}

.xi-voicemail:before {
  content: "\ea19";
}

.xi-note:before {
  content: "\ea1a";
}

.xi-note-o:before {
  content: "\ea1b";
}

.xi-at:before {
  content: "\ea0a";
}

.xi-message:before {
  content: "\ea14";
}

.xi-message-o:before {
  content: "\ea15";
}

.xi-speech:before {
  content: "\ea12";
}

.xi-speech-o:before {
  content: "\ea13";
}

.xi-user-address:before {
  content: "\e9f4";
}

.xi-profile:before {
  content: "\e9f2";
}

.xi-user-circle:before {
  content: "\e9f2";
}

.xi-profile-o:before {
  content: "\ea2a";
}

.xi-user:before {
  content: "\e9f3";
}

.xi-users:before {
  content: "\e9f9";
}

.xi-group:before {
  content: "\ea2e";
}

.xi-community:before {
  content: "\ea2e";
}

.xi-user-plus:before {
  content: "\e9f7";
}

.xi-users-plus:before {
  content: "\ea17";
}

.xi-user-o:before {
  content: "\e9f5";
}

.xi-users-o:before {
  content: "\ea04";
}

.xi-user-plus-o:before {
  content: "\e9f8";
}

.xi-star:before {
  content: "\ea0f";
}

.xi-star-o:before {
  content: "\ea16";
}

.xi-heart:before {
  content: "\ea10";
}

.xi-heart-o:before {
  content: "\ea11";
}

.xi-thumbs-up:before {
  content: "\ea28";
}

.xi-thumbs-down:before {
  content: "\ea29";
}

.xi-crown:before {
  content: "\e9da";
}

.xi-trophy:before {
  content: "\ea38";
}

.xi-emoticon-happy:before {
  content: "\e9dd";
}

.xi-happy-face:before {
  content: "\e9dd";
}

.xi-emoticon-happy-o:before {
  content: "\e9ed";
}

.xi-emoticon-smiley:before {
  content: "\e9e4";
}

.xi-smiley-face:before {
  content: "\e9e4";
}

.xi-emoticon-smiley-o:before {
  content: "\e9e6";
}

.xi-emoticon-neutral:before {
  content: "\e9eb";
}

.xi-neutral-face:before {
  content: "\e9eb";
}

.xi-emoticon-neutral-o:before {
  content: "\e9ec";
}

.xi-emoticon-bad:before {
  content: "\e9de";
}

.xi-emoticon-bad-o:before {
  content: "\e9df";
}

.xi-emoticon-sad:before {
  content: "\e9ee";
}

.xi-sad-face:before {
  content: "\e9ee";
}

.xi-emoticon-sad-o:before {
  content: "\e9ef";
}

.xi-emoticon-devil:before {
  content: "\e9e2";
}

.xi-angry-face:before {
  content: "\e9e2";
}

.xi-emoticon-devil-o:before {
  content: "\e9e3";
}

.xi-emoticon-cool:before {
  content: "\e9e0";
}

.xi-emoticon-cool-o:before {
  content: "\e9e1";
}

.xi-bell:before {
  content: "\e99c";
}

.xi-bell-o:before {
  content: "\e99d";
}

.xi-bell-off:before {
  content: "\e99e";
}

.xi-bell-slash:before {
  content: "\e99e";
}

.xi-bell-off-o:before {
  content: "\e99f";
}

.xi-alarm:before {
  content: "\ea1e";
}

.xi-alarm-o:before {
  content: "\ea1f";
}

.xi-alarm-off:before {
  content: "\ea20";
}

.xi-time:before {
  content: "\ea2b";
}

.xi-time-o:before {
  content: "\ea2c";
}

.xi-snooze:before {
  content: "\ea27";
}

.xi-calendar:before {
  content: "\e9a0";
}

.xi-calendar-add:before {
  content: "\e9a1";
}

.xi-calendar-remove:before {
  content: "\e9a2";
}

.xi-calendar-cancle:before {
  content: "\e9a3";
}

.xi-calendar-check:before {
  content: "\e9a4";
}

.xi-calendar-list:before {
  content: "\e9a5";
}

.xi-new:before {
  content: "\e9a8";
}

.xi-new-o:before {
  content: "\e9a9";
}

.xi-info:before {
  content: "\e9a6";
}

.xi-information-circle:before {
  content: "\e9a6";
}

.xi-info-o:before {
  content: "\e9a7";
}

.xi-help:before {
  content: "\e9ad";
}

.xi-unknown-circle:before {
  content: "\e9ad";
}

.xi-help-o:before {
  content: "\e9ac";
}

.xi-error:before {
  content: "\e9aa";
}

.xi-error-o:before {
  content: "\e9ab";
}

.xi-ban:before {
  content: "\e9ae";
}

.xi-slash-circle:before {
  content: "\e9ae";
}

.xi-warning:before {
  content: "\ea2d";
}

.xi-hand-paper:before {
  content: "\ea21";
}

.xi-key:before {
  content: "\ea22";
}

.xi-security:before {
  content: "\ea24";
}

.xi-shield:before {
  content: "\ea24";
}

.xi-shield-checked:before {
  content: "\ea25";
}

.xi-check-shield:before {
  content: "\ea25";
}

.xi-shield-checked-o:before {
  content: "\ea26";
}

.xi-align-justify:before {
  content: "\e956";
}

.xi-align-left:before {
  content: "\e957";
}

.xi-align-center:before {
  content: "\e958";
}

.xi-align-right:before {
  content: "\e959";
}

.xi-indent:before {
  content: "\e95a";
}

.xi-dedent:before {
  content: "\e95b";
}

.xi-list-dot:before {
  content: "\e95c";
}

.xi-list-ul:before {
  content: "\e95c";
}

.xi-list-square:before {
  content: "\e95d";
}

.xi-list-ul-square:before {
  content: "\e95d";
}

.xi-list-number:before {
  content: "\ea6b";
}

.xi-list-ol:before {
  content: "\ea6b";
}

.xi-list:before {
  content: "\e95f";
}

.xi-list-ul-l:before {
  content: "\e95f";
}

.xi-paragraph:before {
  content: "\e968";
}

.xi-bold:before {
  content: "\e96a";
}

.xi-italic:before {
  content: "\e96c";
}

.xi-strikethrough:before {
  content: "\e969";
}

.xi-underline:before {
  content: "\e96b";
}

.xi-caps:before {
  content: "\e96d";
}

.xi-text-size:before {
  content: "\eaba";
}

.xi-text-type:before {
  content: "\e97f";
}

.xi-type:before {
  content: "\e97f";
}

.xi-spellcheck:before {
  content: "\eaa9";
}

.xi-translate:before {
  content: "\eabc";
}

.xi-line-height:before {
  content: "\e976";
}

.xi-lineheight:before {
  content: "\e976";
}

.xi-font:before {
  content: "\ea63";
}

.xi-text-format:before {
  content: "\eab9";
}

.xi-text-color:before {
  content: "\eaaa";
}

.xi-color-fill:before {
  content: "\ea5e";
}

.xi-color-helper:before {
  content: "\ea5f";
}

.xi-scissors:before {
  content: "\e994";
}

.xi-document:before {
  content: "\e998";
}

.xi-form:before {
  content: "\e998";
}

.xi-palette:before {
  content: "\e995";
}

.xi-color:before {
  content: "\e995";
}

.xi-color-dropper:before {
  content: "\e97d";
}

.xi-eye-dropper:before {
  content: "\e97d";
}

.xi-eraser:before {
  content: "\e970";
}

.xi-eraser-o:before {
  content: "\e971";
}

.xi-sort-asc:before {
  content: "\e974";
}

.xi-lineheight-plus:before {
  content: "\e974";
}

.xi-sort-desc:before {
  content: "\e975";
}

.xi-lineheight-minus:before {
  content: "\e975";
}

.xi-rotate-right:before {
  content: "\e978";
}

.xi-rotate-left:before {
  content: "\e979";
}

.xi-layout:before {
  content: "\e988";
}

.xi-layout-top:before {
  content: "\e988";
}

.xi-layout-o:before {
  content: "\e98e";
}

.xi-layout-full:before {
  content: "\e989";
}

.xi-layout-full-o:before {
  content: "\e98f";
}

.xi-layout-snb:before {
  content: "\e98a";
}

.xi-layout-top-left:before {
  content: "\e98a";
}

.xi-layout-snb-o:before {
  content: "\e990";
}

.xi-layout-aside:before {
  content: "\e98b";
}

.xi-layout-top-right:before {
  content: "\e98b";
}

.xi-layout-aside-o:before {
  content: "\e991";
}

.xi-layout-column:before {
  content: "\e98c";
}

.xi-layout-top-three:before {
  content: "\e98c";
}

.xi-layout-column-o:before {
  content: "\e992";
}

.xi-crop:before {
  content: "\e999";
}

.xi-border-color:before {
  content: "\ea39";
}

.xi-line-style:before {
  content: "\ea66";
}

.xi-line-weight:before {
  content: "\ea67";
}

.xi-border-all:before {
  content: "\e987";
}

.xi-border-bottom:before {
  content: "\ea32";
}

.xi-border-clear:before {
  content: "\ea33";
}

.xi-border-horizontal:before {
  content: "\ea45";
}

.xi-border-inner:before {
  content: "\ea46";
}

.xi-border-left:before {
  content: "\ea49";
}

.xi-border-outer:before {
  content: "\ea4f";
}

.xi-border-right:before {
  content: "\ea51";
}

.xi-border-style:before {
  content: "\ea52";
}

.xi-border-top:before {
  content: "\ea54";
}

.xi-border-vertical:before {
  content: "\ea5c";
}

.xi-valign-top:before {
  content: "\eabf";
}

.xi-valign-bottom:before {
  content: "\eabd";
}

.xi-valign-center:before {
  content: "\eabe";
}

.xi-code:before {
  content: "\ea5d";
}

.xi-emoticon:before {
  content: "\ea62";
}

.xi-emoji:before {
  content: "\ea62";
}

.xi-face:before {
  content: "\ea62";
}

.xi-link-insert:before {
  content: "\ea6a";
}

.xi-link-l:before {
  content: "\ea6a";
}

.xi-link-broken:before {
  content: "\ea68";
}

.xi-unlink:before {
  content: "\ea68";
}

.xi-omega:before {
  content: "\ea6c";
}

.xi-opacity:before {
  content: "\ea6d";
}

.xi-overscan:before {
  content: "\ea78";
}

.xi-paperclip:before {
  content: "\ea7f";
}

.xi-transform:before {
  content: "\eabb";
}

.xi-power-off:before {
  content: "\e94c";
}

.xi-esc:before {
  content: "\e94f";
}

.xi-command:before {
  content: "\e94e";
}

.xi-alt:before {
  content: "\e94d";
}

.xi-tab:before {
  content: "\eaf8";
}

.xi-backspace:before {
  content: "\eac4";
}

.xi-capslock:before {
  content: "\ead6";
}

.xi-watch:before {
  content: "\e9b5";
}

.xi-mouse:before {
  content: "\e9b6";
}

.xi-sdcard:before {
  content: "\e9b7";
}

.xi-usb-drive:before {
  content: "\e9b8";
}

.xi-diskette:before {
  content: "\e9ba";
}

.xi-print:before {
  content: "\e9bb";
}

.xi-social-print:before {
  content: "\e9bb";
}

.xi-fax:before {
  content: "\e9bc";
}

.xi-webcam:before {
  content: "\e9cc";
}

.xi-projector:before {
  content: "\e9ce";
}

.xi-presentation:before {
  content: "\e9cf";
}

.xi-plug:before {
  content: "\e9d0";
}

.xi-speaker:before {
  content: "\ea60";
}

.xi-airplay:before {
  content: "\eac0";
}

.xi-alarm-clock:before {
  content: "\eac1";
}

.xi-alarm-clock-o:before {
  content: "\eac2";
}

.xi-alarm-clock-off:before {
  content: "\eac3";
}

.xi-battery:before {
  content: "\eac5";
}

.xi-battery-full:before {
  content: "\eac5";
}

.xi-battery-o:before {
  content: "\ead0";
}

.xi-battery-min:before {
  content: "\ead0";
}

.xi-battery-10:before {
  content: "\eac6";
}

.xi-battery-20:before {
  content: "\eac7";
}

.xi-battery-30:before {
  content: "\eac8";
}

.xi-battery-40:before {
  content: "\eac9";
}

.xi-battery-50:before {
  content: "\eacb";
}

.xi-battery-60:before {
  content: "\eacc";
}

.xi-battery-70:before {
  content: "\eacd";
}

.xi-battery-80:before {
  content: "\eace";
}

.xi-battery-90:before {
  content: "\eacf";
}

.xi-bluetooth:before {
  content: "\ead1";
}

.xi-bluetooth-off:before {
  content: "\ead2";
}

.xi-bluetooth-on:before {
  content: "\ead3";
}

.xi-bluetooth-search:before {
  content: "\ead4";
}

.xi-brightness:before {
  content: "\ead5";
}

.xi-clock:before {
  content: "\ead7";
}

.xi-clock-o:before {
  content: "\ead8";
}

.xi-contrast:before {
  content: "\ead9";
}

.xi-desktop:before {
  content: "\eada";
}

.xi-monitor:before {
  content: "\eada";
}

.xi-laptop:before {
  content: "\eae9";
}

.xi-devices:before {
  content: "\eadb";
}

.xi-tablet:before {
  content: "\eaf9";
}

.xi-mobile:before {
  content: "\eaed";
}

.xi-tv:before {
  content: "\eafb";
}

.xi-enter:before {
  content: "\eadc";
}

.xi-flashlight:before {
  content: "\eadd";
}

.xi-flashlight-off:before {
  content: "\eade";
}

.xi-flight-off:before {
  content: "\eadf";
}

.xi-flight-on:before {
  content: "\eae0";
}

.xi-gamepad:before {
  content: "\eae1";
}

.xi-gps:before {
  content: "\eae2";
}

.xi-gps-none:before {
  content: "\eae3";
}

.xi-gps-off:before {
  content: "\eae4";
}

.xi-hdd:before {
  content: "\eae5";
}

.xi-hdmi:before {
  content: "\eae6";
}

.xi-keyboard:before {
  content: "\eae7";
}

.xi-keyboard-o:before {
  content: "\eae8";
}

.xi-space-bar:before {
  content: "\eaf7";
}

.xi-lock-rotation:before {
  content: "\eaea";
}

.xi-chip:before {
  content: "\eaeb";
}

.xi-chip-o:before {
  content: "\eaec";
}

.xi-mouse-pointer:before {
  content: "\eaee";
}

.xi-router:before {
  content: "\eaef";
}

.xi-wifi-router:before {
  content: "\eaef";
}

.xi-router-o:before {
  content: "\eaf0";
}

.xi-signal:before {
  content: "\eaf1";
}

.xi-signal-1:before {
  content: "\eaf2";
}

.xi-signal-2:before {
  content: "\eaf3";
}

.xi-signal-3:before {
  content: "\eaf4";
}

.xi-signal-4:before {
  content: "\eaf5";
}

.xi-signal-none:before {
  content: "\eaf6";
}

.xi-touch:before {
  content: "\eafa";
}

.xi-usb:before {
  content: "\eafc";
}

.xi-wifi:before {
  content: "\eafd";
}

.xi-wifi-signal:before {
  content: "\eafd";
}

.xi-wifi-signal-mid:before {
  content: "\eafe";
}

.xi-wifi-signal-min:before {
  content: "\eaff";
}

.xi-wifi-signal-off:before {
  content: "\eb00";
}

.xi-chart-bar:before {
  content: "\e901";
}

.xi-book:before {
  content: "\ea34";
}

.xi-book-o:before {
  content: "\ea35";
}

.xi-play:before {
  content: "\ea3e";
}

.xi-caret-right:before {
  content: "\ea3e";
}

.xi-play-circle:before {
  content: "\ea40";
}

.xi-play-circle-o:before {
  content: "\ea3f";
}

.xi-pause-circle:before {
  content: "\ea3d";
}

.xi-pause-circle-o:before {
  content: "\ea3c";
}

.xi-pause:before {
  content: "\ea3b";
}

.xi-stop:before {
  content: "\ea41";
}

.xi-recording-stop:before {
  content: "\eb24";
}

.xi-recording:before {
  content: "\eb21";
}

.xi-record:before {
  content: "\eb21";
}

.xi-eject:before {
  content: "\ea42";
}

.xi-step-backward:before {
  content: "\ea43";
}

.xi-step-forward:before {
  content: "\ea44";
}

.xi-backward:before {
  content: "\ea47";
}

.xi-forward:before {
  content: "\ea48";
}

.xi-fast-backward:before {
  content: "\eb08";
}

.xi-fast-forward:before {
  content: "\eb07";
}

.xi-camera:before {
  content: "\ea4b";
}

.xi-camera-o:before {
  content: "\ea4a";
}

.xi-videocam:before {
  content: "\ea4d";
}

.xi-video-camera:before {
  content: "\ea4d";
}

.xi-videocam-o:before {
  content: "\ea4c";
}

.xi-image:before {
  content: "\ea50";
}

.xi-image-o:before {
  content: "\ea4e";
}

.xi-microphone-o:before {
  content: "\ea56";
}

.xi-microphone:before {
  content: "\ea57";
}

.xi-microphone-off:before {
  content: "\ea58";
}

.xi-microphone-slash:before {
  content: "\ea58";
}

.xi-volume-mute:before {
  content: "\ea59";
}

.xi-volume:before {
  content: "\ea59";
}

.xi-volume-down:before {
  content: "\ea5a";
}

.xi-volume-min:before {
  content: "\ea5a";
}

.xi-volume-up:before {
  content: "\ea5b";
}

.xi-volume-max:before {
  content: "\ea5b";
}

.xi-volume-off:before {
  content: "\eb39";
}

.xi-volume-slash:before {
  content: "\eb39";
}

.xi-album:before {
  content: "\ea61";
}

.xi-record-play:before {
  content: "\ea61";
}

.xi-cd-r:before {
  content: "\ea61";
}

.xi-headset:before {
  content: "\ea64";
}

.xi-music:before {
  content: "\ea65";
}

.xi-chart-pyramid:before {
  content: "\ea69";
}

.xi-chart-bar-square:before {
  content: "\eb01";
}

.xi-chart-line:before {
  content: "\eb02";
}

.xi-chart-pie:before {
  content: "\eb03";
}

.xi-chart-pie-o:before {
  content: "\eb04";
}

.xi-equalizer:before {
  content: "\eb05";
}

.xi-volume-bar:before {
  content: "\eb05";
}

.xi-equalizer-thin:before {
  content: "\ea55";
}

.xi-exposure:before {
  content: "\eb06";
}

.xi-flash:before {
  content: "\eb09";
}

.xi-flash-off:before {
  content: "\eb0a";
}

.xi-focus-center:before {
  content: "\eb0b";
}

.xi-focus-frame:before {
  content: "\eb0c";
}

.xi-focus-weak:before {
  content: "\eb11";
}

.xi-paper:before {
  content: "\eb1e";
}

.xi-paper-o:before {
  content: "\eb1f";
}

.xi-library-books:before {
  content: "\eb14";
}

.xi-library-books-o:before {
  content: "\eb16";
}

.xi-library-image:before {
  content: "\eb17";
}

.xi-library-image-o:before {
  content: "\eb18";
}

.xi-library-music:before {
  content: "\eb19";
}

.xi-library-video:before {
  content: "\eb1a";
}

.xi-movie:before {
  content: "\eb1b";
}

.xi-movie-o:before {
  content: "\eb1c";
}

.xi-pacman:before {
  content: "\eb1d";
}

.xi-radio:before {
  content: "\eb20";
}

.xi-repeat:before {
  content: "\eb25";
}

.xi-repeat-one:before {
  content: "\eb26";
}

.xi-shuffle:before {
  content: "\eb27";
}

.xi-timer:before {
  content: "\eb29";
}

.xi-timer-o:before {
  content: "\eb2a";
}

.xi-timer-off-o:before {
  content: "\eb2f";
}

.xi-timer-sand:before {
  content: "\eb30";
}

.xi-sandwatch-min:before {
  content: "\eb30";
}

.xi-timer-sand-o:before {
  content: "\eb31";
}

.xi-trending-flat:before {
  content: "\eb36";
}

.xi-trending-down:before {
  content: "\eb33";
}

.xi-decline:before {
  content: "\eb33";
}

.xi-trending-up:before {
  content: "\eb37";
}

.xi-rise:before {
  content: "\eb37";
}

.xi-tune:before {
  content: "\eb38";
}

.xi-map:before {
  content: "\eb22";
}

.xi-map-folding:before {
  content: "\eb22";
}

.xi-map-o:before {
  content: "\eb23";
}

.xi-my-location:before {
  content: "\eb5d";
}

.xi-location-arrow:before {
  content: "\eb58";
}

.xi-woman:before {
  content: "\ea2f";
}

.xi-man:before {
  content: "\ea30";
}

.xi-toilet:before {
  content: "\ea31";
}

.xi-pregnant-woman:before {
  content: "\eb61";
}

.xi-maternity:before {
  content: "\eb61";
}

.xi-walk:before {
  content: "\eb6d";
}

.xi-walking:before {
  content: "\eb6d";
}

.xi-run:before {
  content: "\eb63";
}

.xi-wheelchair:before {
  content: "\eb6e";
}

.xi-glass:before {
  content: "\eb28";
}

.xi-market:before {
  content: "\eb2b";
}

.xi-shopping-bag:before {
  content: "\eb2b";
}

.xi-pharmacy:before {
  content: "\eb2c";
}

.xi-laundry:before {
  content: "\eb2e";
}

.xi-florist:before {
  content: "\eb32";
}

.xi-hlz:before {
  content: "\eb34";
}

.xi-park:before {
  content: "\eb35";
}

.xi-airplane:before {
  content: "\eb3a";
}

.xi-all:before {
  content: "\eb3b";
}

.xi-flight-takeoff:before {
  content: "\eb3c";
}

.xi-flight:before {
  content: "\eb3c";
}

.xi-flight-land:before {
  content: "\eb3d";
}

.xi-bank:before {
  content: "\eb3e";
}

.xi-bank-o:before {
  content: "\eb3e";
}

.xi-beach:before {
  content: "\eb3f";
}

.xi-bicycle:before {
  content: "\eb40";
}

.xi-building:before {
  content: "\eb41";
}

.xi-bus:before {
  content: "\eb42";
}

.xi-business:before {
  content: "\eb43";
}

.xi-cafe:before {
  content: "\eb44";
}

.xi-cake:before {
  content: "\eb47";
}

.xi-car:before {
  content: "\eb48";
}

.xi-church:before {
  content: "\eb49";
}

.xi-city:before {
  content: "\eb4a";
}

.xi-compass:before {
  content: "\eb4b";
}

.xi-compass-o:before {
  content: "\eb4c";
}

.xi-convenience-store:before {
  content: "\eb4d";
}

.xi-directions:before {
  content: "\eb4e";
}

.xi-factory:before {
  content: "\eb4f";
}

.xi-fitness-center:before {
  content: "\eb50";
}

.xi-garden:before {
  content: "\eb51";
}

.xi-gas-station:before {
  content: "\eb52";
}

.xi-golf:before {
  content: "\eb53";
}

.xi-hand-pointing:before {
  content: "\eb54";
}

.xi-hospital:before {
  content: "\eb55";
}

.xi-hotel:before {
  content: "\eb56";
}

.xi-library:before {
  content: "\eb57";
}

.xi-maker:before {
  content: "\eb59";
}

.xi-marker-circle:before {
  content: "\eb59";
}

.xi-marker-plus:before {
  content: "\eb5b";
}

.xi-maker-drop:before {
  content: "\eb5f";
}

.xi-map-marker:before {
  content: "\eb5f";
}

.xi-marker-check:before {
  content: "\eb5a";
}

.xi-motorcycle:before {
  content: "\eb5c";
}

.xi-navigation:before {
  content: "\eb5e";
}

.xi-pool:before {
  content: "\eb60";
}

.xi-restaurant:before {
  content: "\eb62";
}

.xi-school:before {
  content: "\eb64";
}

.xi-ship:before {
  content: "\eb65";
}

.xi-spa:before {
  content: "\eb66";
}

.xi-stroller:before {
  content: "\eb67";
}

.xi-subway:before {
  content: "\eb68";
}

.xi-taxi:before {
  content: "\eb69";
}

.xi-theater:before {
  content: "\eb6a";
}

.xi-film:before {
  content: "\eb6a";
}

.xi-traffic:before {
  content: "\eb6b";
}

.xi-train:before {
  content: "\eb6c";
}

.xi-cart:before {
  content: "\eb6f";
}

.xi-cart-o:before {
  content: "\e9fb";
}

.xi-cart-add:before {
  content: "\e9fc";
}

.xi-cart-remove:before {
  content: "\e9fd";
}

.xi-basket:before {
  content: "\e9fe";
}

.xi-box:before {
  content: "\ea01";
}

.xi-fragile:before {
  content: "\ea02";
}

.xi-coupon:before {
  content: "\ea03";
}

.xi-shop:before {
  content: "\ea05";
}

.xi-gift:before {
  content: "\eb70";
}

.xi-present:before {
  content: "\eb70";
}

.xi-gift-o:before {
  content: "\ea3a";
}

.xi-exchange:before {
  content: "\ea53";
}

.xi-barter:before {
  content: "\ea53";
}

.xi-yuan:before {
  content: "\ea6e";
}

.xi-won:before {
  content: "\ea6f";
}

.xi-yen:before {
  content: "\ea70";
}

.xi-pound:before {
  content: "\ea71";
}

.xi-euro:before {
  content: "\ea72";
}

.xi-rial:before {
  content: "\ea73";
}

.xi-dollar:before {
  content: "\ea74";
}

.xi-peso:before {
  content: "\ea75";
}

.xi-rupee:before {
  content: "\ea76";
}

.xi-credit-card:before {
  content: "\ea77";
}

.xi-money:before {
  content: "\ea79";
}

.xi-piggy-bank:before {
  content: "\ea7a";
}

.xi-strongbox:before {
  content: "\ea7b";
}

.xi-briefcase:before {
  content: "\ea7c";
}

.xi-percent:before {
  content: "\ea7d";
}

.xi-calculator:before {
  content: "\ea7e";
}

.xi-medicine:before {
  content: "\eb2d";
}

.xi-receipt:before {
  content: "\eb71";
}

.xi-truck:before {
  content: "\eb72";
}

.xi-wallet:before {
  content: "\eb73";
}

.xi-file:before {
  content: "\ea94";
}

.xi-file-o:before {
  content: "\ea80";
}

.xi-file-add:before {
  content: "\ea95";
}

.xi-file-add-o:before {
  content: "\ea81";
}

.xi-file-remove:before {
  content: "\ea96";
}

.xi-file-remove-o:before {
  content: "\ea82";
}

.xi-file-text:before {
  content: "\ea97";
}

.xi-file-text-o:before {
  content: "\ea83";
}

.xi-documents:before {
  content: "\ea98";
}

.xi-stack-paper:before {
  content: "\ea98";
}

.xi-documents-o:before {
  content: "\ea84";
}

.xi-file-image:before {
  content: "\ea99";
}

.xi-file-image-o:before {
  content: "\ea85";
}

.xi-file-video:before {
  content: "\ea9a";
}

.xi-file-video-o:before {
  content: "\ea86";
}

.xi-file-music:before {
  content: "\ea9b";
}

.xi-file-music-o:before {
  content: "\ea87";
}

.xi-file-code:before {
  content: "\ea9c";
}

.xi-file-code-o:before {
  content: "\ea88";
}

.xi-file-zip:before {
  content: "\ea9d";
}

.xi-file-zip-o:before {
  content: "\ea89";
}

.xi-file-upload:before {
  content: "\ea9e";
}

.xi-file-upload-o:before {
  content: "\ea8a";
}

.xi-file-download:before {
  content: "\ea9f";
}

.xi-file-download-o:before {
  content: "\ea8b";
}

.xi-file-check:before {
  content: "\eaa0";
}

.xi-file-check-o:before {
  content: "\ea8c";
}

.xi-folder:before {
  content: "\eaa1";
}

.xi-folder-o:before {
  content: "\ea8d";
}

.xi-folder-open:before {
  content: "\eaa8";
}

.xi-folder-shared:before {
  content: "\eb7d";
}

.xi-folder-zip:before {
  content: "\eaa7";
}

.xi-folder-zip-o:before {
  content: "\ea93";
}

.xi-folder-add:before {
  content: "\eaa2";
}

.xi-folder-add-o:before {
  content: "\ea8e";
}

.xi-folder-remove:before {
  content: "\eaa3";
}

.xi-folder-remove-o:before {
  content: "\ea8f";
}

.xi-folder-check:before {
  content: "\eaa4";
}

.xi-folder-check-o:before {
  content: "\ea90";
}

.xi-folder-upload:before {
  content: "\eaa5";
}

.xi-folder-upload-o:before {
  content: "\ea91";
}

.xi-folder-download:before {
  content: "\eaa6";
}

.xi-folder-download-o:before {
  content: "\ea92";
}

.xi-attachment:before {
  content: "\eb74";
}

.xi-cloud:before {
  content: "\eb75";
}

.xi-cloud-o:before {
  content: "\eb78";
}

.xi-cloud-off:before {
  content: "\eb79";
}

.xi-cloud-upload:before {
  content: "\eb7a";
}

.xi-cloud-upload-o:before {
  content: "\eb7b";
}

.xi-cloud-download:before {
  content: "\eb76";
}

.xi-cloud-download-o:before {
  content: "\eb77";
}

.xi-upload:before {
  content: "\eb7e";
}

.xi-download:before {
  content: "\eb7c";
}

.xi-globus:before {
  content: "\e9d1";
}

.xi-browser:before {
  content: "\e9db";
}

.xi-browser-text:before {
  content: "\e9dc";
}

.xi-rss-square:before {
  content: "\e9e5";
}

.xi-central-signal:before {
  content: "\e9e7";
}

.xi-central-router:before {
  content: "\e9e8";
}

.xi-antenna:before {
  content: "\e9f6";
}

.xi-barcode:before {
  content: "\e9ff";
}

.xi-qr-code:before {
  content: "\ea00";
}

.xi-accessibility:before {
  content: "\eb7f";
}

.xi-branch:before {
  content: "\eb80";
}

.xi-fork:before {
  content: "\eb85";
}

.xi-code-fork:before {
  content: "\eb85";
}

.xi-pull-requests:before {
  content: "\eb92";
}

.xi-merge:before {
  content: "\eb8b";
}

.xi-log:before {
  content: "\eb8a";
}

.xi-bug:before {
  content: "\eb81";
}

.xi-cookie:before {
  content: "\eb82";
}

.xi-fingerprint:before {
  content: "\eb84";
}

.xi-css3:before {
  content: "\eb83";
}

.xi-html5:before {
  content: "\eb86";
}

.xi-javascript:before {
  content: "\eb87";
}

.xi-csharp:before {
  content: "\eb88";
}

.xi-php:before {
  content: "\eb91";
}

.xi-python:before {
  content: "\eb94";
}

.xi-milestone:before {
  content: "\eb8c";
}

.xi-network-company:before {
  content: "\eb8d";
}

.xi-network-folder:before {
  content: "\eb8e";
}

.xi-network-home:before {
  content: "\eb8f";
}

.xi-home-network:before {
  content: "\eb8f";
}

.xi-network-public:before {
  content: "\eb90";
}

.xi-cloud-network:before {
  content: "\eb90";
}

.xi-puzzle:before {
  content: "\eb93";
}

.xi-rss:before {
  content: "\eb95";
}

.xi-social-rssfeed:before {
  content: "\eb95";
}

.xi-server:before {
  content: "\eb96";
}

.xi-network-server:before {
  content: "\eb97";
}

.xi-sitemap:before {
  content: "\eb98";
}

.xi-sitemap-o:before {
  content: "\eb99";
}

.xi-spinner-1:before {
  content: "\ec33";
}

.xi-spinner-2:before {
  content: "\ec34";
}

.xi-spinner-3:before {
  content: "\ec35";
}

.xi-spinner-4:before {
  content: "\ec36";
}

.xi-spinner-5:before {
  content: "\ec37";
}

.xi-full-moon:before {
  content: "\eb0d";
}

.xi-fullmoon:before {
  content: "\eb0d";
}

.xi-half-moon:before {
  content: "\eb0e";
}

.xi-halfmoon:before {
  content: "\eb0e";
}

.xi-crescent:before {
  content: "\eb9b";
}

.xi-moon:before {
  content: "\eb0f";
}

.xi-night:before {
  content: "\eb10";
}

.xi-snow-crystal:before {
  content: "\eb15";
}

.xi-snow:before {
  content: "\eb15";
}

.xi-cloudy:before {
  content: "\eb9c";
}

.xi-fog:before {
  content: "\eb9d";
}

.xi-foggy:before {
  content: "\eb9e";
}

.xi-lightning:before {
  content: "\eb9f";
}

.xi-partly-cloudy:before {
  content: "\eba0";
}

.xi-pouring:before {
  content: "\eba1";
}

.xi-rain:before {
  content: "\eba1";
}

.xi-snowy:before {
  content: "\eba2";
}

.xi-heavy-snow:before {
  content: "\eba2";
}

.xi-sun:before {
  content: "\eba3";
}

.xi-sun-o:before {
  content: "\eba4";
}

.xi-sunset:before {
  content: "\eba5";
}

.xi-sunset-down:before {
  content: "\eba6";
}

.xi-sunset-up:before {
  content: "\eba7";
}

.xi-thermometer:before {
  content: "\eba8";
}

.xi-tint:before {
  content: "\eba9";
}

.xi-humidity:before {
  content: "\eba9";
}

.xi-tint-o:before {
  content: "\ebaa";
}

.xi-tornado:before {
  content: "\ebab";
}

.xi-umbrella:before {
  content: "\ebac";
}

.xi-umbrella-o:before {
  content: "\ebad";
}

.xi-windy:before {
  content: "\ebae";
}

.xi-wind:before {
  content: "\ebae";
}

.xi-windy-variant:before {
  content: "\ebaf";
}

.xi-windsock:before {
  content: "\eb13";
}

.xi-cc-cc:before {
  content: "\eaad";
}

.xi-cc-by:before {
  content: "\eaae";
}

.xi-cc-sa:before {
  content: "\eaaf";
}

.xi-cc-nd:before {
  content: "\eab0";
}

.xi-cc-nc:before {
  content: "\eab1";
}

.xi-cc-nc-eu:before {
  content: "\eab2";
}

.xi-cc-nc-jp:before {
  content: "\eab3";
}

.xi-cc-remix:before {
  content: "\eab4";
}

.xi-cc-pd:before {
  content: "\eab5";
}

.xi-cc-sampling:before {
  content: "\eab6";
}

.xi-cc-zero:before {
  content: "\eab7";
}

.xi-cc-share:before {
  content: "\eab8";
}

.xi-copyleft:before {
  content: "\ebb0";
}

.xi-copyright:before {
  content: "\ebb1";
}

.xi-registered:before {
  content: "\eaab";
}

.xi-trademark:before {
  content: "\eaac";
}

.xi-500px:before {
  content: "\ebb2";
}

.xi-adobe:before {
  content: "\ebb3";
}

.xi-amazon:before {
  content: "\ebb4";
}

.xi-android:before {
  content: "\ebb5";
}

.xi-apple:before {
  content: "\ebb6";
}

.xi-beats:before {
  content: "\ebb7";
}

.xi-behance:before {
  content: "\ebb8";
}

.xi-bing:before {
  content: "\ebb9";
}

.xi-bitbucket:before {
  content: "\ebba";
}

.xi-blackberry:before {
  content: "\ebbb";
}

.xi-blogger:before {
  content: "\ebbc";
}

.xi-cc-amex:before {
  content: "\ebbe";
}

.xi-cc-discover:before {
  content: "\ebbf";
}

.xi-cc-mastercard:before {
  content: "\ebc0";
}

.xi-cc-paypal:before {
  content: "\ebc1";
}

.xi-cc-stripe:before {
  content: "\ebc2";
}

.xi-cc-visa:before {
  content: "\ebc3";
}

.xi-chrome:before {
  content: "\ebc5";
}

.xi-codepen:before {
  content: "\ebc6";
}

.xi-connectdevelop:before {
  content: "\ebc7";
}

.xi-d2:before {
  content: "\ebc8";
}

.xi-dashcube:before {
  content: "\ebc9";
}

.xi-delicious:before {
  content: "\ebca";
}

.xi-deviantart:before {
  content: "\ebcb";
}

.xi-digg:before {
  content: "\ebcc";
}

.xi-disqus:before {
  content: "\ebcd";
}

.xi-dribbble:before {
  content: "\ebce";
}

.xi-dropbox:before {
  content: "\ebcf";
}

.xi-drupal:before {
  content: "\ebd0";
}

.xi-edge:before {
  content: "\ebd1";
}

.xi-evernote:before {
  content: "\ebd2";
}

.xi-facebook:before {
  content: "\ebd3";
}

.xi-facebook-messenger:before {
  content: "\ebd4";
}

.xi-facebook-official:before {
  content: "\ebd5";
}

.xi-feedly:before {
  content: "\ebd6";
}

.xi-firefox:before {
  content: "\ebd7";
}

.xi-flickr:before {
  content: "\eaca";
}

.xi-flickr-square:before {
  content: "\ebd8";
}

.xi-foursquare:before {
  content: "\ebd9";
}

.xi-ghost:before {
  content: "\ebda";
}

.xi-git:before {
  content: "\ebdb";
}

.xi-git-symbol:before {
  content: "\ebdc";
}

.xi-github:before {
  content: "\ebdd";
}

.xi-github-alt:before {
  content: "\ebde";
}

.xi-gmail:before {
  content: "\ebdf";
}

.xi-google:before {
  content: "\ebe0";
}

.xi-google-play:before {
  content: "\ebe1";
}

.xi-google-plus:before {
  content: "\ebe2";
}

.xi-google-wallet:before {
  content: "\ebe3";
}

.xi-gratipay:before {
  content: "\ebe4";
}

.xi-hangouts:before {
  content: "\ebe5";
}

.xi-hunie:before {
  content: "\ebe6";
}

.xi-illustrator:before {
  content: "\ebe7";
}

.xi-illustrator-circle:before {
  content: "\ebe8";
}

.xi-instagram:before {
  content: "\ebe9";
}

.xi-internet-explorer:before {
  content: "\ebea";
}

.xi-jira:before {
  content: "\ebeb";
}

.xi-joomla:before {
  content: "\ebec";
}

.xi-jsfiddle:before {
  content: "\ebed";
}

.xi-kakaostory:before {
  content: "\ebef";
}

.xi-kakaotalk:before {
  content: "\ebee";
}

.xi-kickstarter:before {
  content: "\ebf0";
}

.xi-laravel:before {
  content: "\eb89";
}

.xi-line:before {
  content: "\ebf1";
}

.xi-line-messenger:before {
  content: "\ebf2";
}

.xi-linkedin:before {
  content: "\ebf3";
}

.xi-linkedin-square:before {
  content: "\ebf4";
}

.xi-linux:before {
  content: "\ebf5";
}

.xi-magento:before {
  content: "\ebf6";
}

.xi-maxcdn:before {
  content: "\ebf7";
}

.xi-medium:before {
  content: "\ebf8";
}

.xi-naver:before {
  content: "\ebf9";
}

.xi-naver-square:before {
  content: "\ebfa";
}

.xi-office:before {
  content: "\ebfb";
}

.xi-opencart:before {
  content: "\ebfc";
}

.xi-opera:before {
  content: "\ebfd";
}

.xi-oscommerce:before {
  content: "\ebfe";
}

.xi-path:before {
  content: "\ebff";
}

.xi-paypal:before {
  content: "\ec00";
}

.xi-photoshop:before {
  content: "\ec01";
}

.xi-photoshop-circle:before {
  content: "\ec02";
}

.xi-pinterest:before {
  content: "\ec03";
}

.xi-pinterest-p:before {
  content: "\ec04";
}

.xi-pocket:before {
  content: "\ec05";
}

.xi-qq:before {
  content: "\ec06";
}

.xi-quicktime:before {
  content: "\ec07";
}

.xi-reddit:before {
  content: "\ec08";
}

.xi-renren:before {
  content: "\ec09";
}

.xi-safari:before {
  content: "\ec0a";
}

.xi-sellsy:before {
  content: "\ec0b";
}

.xi-silverstripe:before {
  content: "\ebbd";
}

.xi-simplybuilt:before {
  content: "\ec0c";
}

.xi-sketch:before {
  content: "\ec0d";
}

.xi-skype:before {
  content: "\ec0e";
}

.xi-slack:before {
  content: "\ec0f";
}

.xi-slideshare:before {
  content: "\ec10";
}

.xi-soundcloud:before {
  content: "\ec11";
}

.xi-spotify:before {
  content: "\ec12";
}

.xi-stack-exchange:before {
  content: "\ec13";
}

.xi-stack-overflow:before {
  content: "\ec14";
}

.xi-steam:before {
  content: "\ec15";
}

.xi-steam-square:before {
  content: "\ec16";
}

.xi-stumbleupon:before {
  content: "\ec17";
}

.xi-stumbleupon-circle:before {
  content: "\ec18";
}

.xi-telegram:before {
  content: "\ec19";
}

.xi-tencent-weibo:before {
  content: "\ec1a";
}

.xi-trello:before {
  content: "\ec1b";
}

.xi-tumblr:before {
  content: "\ec1c";
}

.xi-tumblr-square:before {
  content: "\ec1d";
}

.xi-twich:before {
  content: "\ec1e";
}

.xi-twitter:before {
  content: "\ec1f";
}

.xi-ubercart:before {
  content: "\ec20";
}

.xi-ubuntu:before {
  content: "\ec21";
}

.xi-ubuntu-circle:before {
  content: "\ec22";
}

.xi-vimeo:before {
  content: "\ec23";
}

.xi-vine:before {
  content: "\ec24";
}

.xi-vk:before {
  content: "\ec25";
}

.xi-wechat:before {
  content: "\ec26";
}

.xi-whatsapp:before {
  content: "\ec27";
}

.xi-wikipedia:before {
  content: "\ec28";
}

.xi-windows:before {
  content: "\ec29";
}

.xi-wordpress:before {
  content: "\ec2a";
}

.xi-wordpress-official:before {
  content: "\ec2b";
}

.xi-xe:before {
  content: "\ec2c";
}

.xi-xing:before {
  content: "\ec2d";
}

.xi-xpressengine:before {
  content: "\ec2e";
}

.xi-yahoo:before {
  content: "\ec2f";
}

.xi-yelp:before {
  content: "\ec30";
}

.xi-youtube:before {
  content: "\ec31";
}

.xi-youtube-play:before {
  content: "\ec32";
}

/* makes the font 33% larger relative to the icon container */
.xi-x {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.xi-2x {
  font-size: 2em;
}

.xi-3x {
  font-size: 3em;
}

.xi-4x {
  font-size: 4em;
}

.xi-5x {
  font-size: 5em;
}

.xi-spin {
  -webkit-animation: xi-spin 2s infinite linear;
          animation: xi-spin 2s infinite linear;
}

@-webkit-keyframes xi-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes xi-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.xi-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.xi-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.xi-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.xi-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.xi-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

:root .xi-rotate-90,
:root .xi-rotate-180,
:root .xi-rotate-270,
:root .xi-flip-horizontal,
:root .xi-flip-vertical {
  -webkit-filter: none;
          filter: none;
}

.xi-fw {
  width: 1.28571em;
  text-align: center;
}

.xi-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}

.xi-ul > li {
  position: relative;
}

.xi-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}

.xi-li.xi-lg {
  left: -1.85714em;
}

.xi-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.pull-right {
  float: right;
  margin-right: .3em;
}

.pull-left {
  float: left;
  margin-right: .3em;
}