    <!-- 모든 페이지의 main 요소 바로 아래에 삽입됩니다.-->
    <div class="breadcrumb visible-xs">
      <div class="container">
        <ul>
          <li><a href="#">1차 뎁스</a></li>
          <li>
            <label for="breadcrumb_nav">현재 페이지 <i class="xi-caret-down-square"></i></label>
            <select id="breadcrumb_nav" class="sr-only" onchange="location = this.value;">
              <option value="바뀔 URL">2차 뎁스 메뉴</option>
              <option value="바뀔 URL">2차 뎁스 메뉴</option>
              <option value="바뀔 URL">2차 뎁스 메뉴</option>
            </select>
          </li>
        </ul>
      </div>
    </div>