  <header>
    <div class="container">
      <div class="row">
        <div class="col-12-2 logo">
          <a href="#">SK 프로보노</a>
        </div>
        <button class="navbar-toggle visible-xs" id="toggleNav">
			    <span class="sr-only">메뉴 열기</span>
		    </button>
        <div class="col-12-10 navigation clear-both">
          <nav class="float-left gnb">
            <ul class="list-h">
              <li>
                <a href="#" class="active">SK프로보노</a>
                <ul class="list-h lnb-wrap">
                  <li><a href="#" class="active">SK 사회공헌 철학</a></li>
                  <li><a href="#">사업개요</a></li>
                  <li><a href="#">활동분야</a></li>
                </ul>
              </li>
              <li>
                <a href="#">활동참여</a>
              </li>
              <li>
                <a href="#">게시판</a>
                <ul class="list-h lnb-wrap">
                  <li><a href="#">공지사항</a></li>
                  <li><a href="#">프로보노 스토리</a></li>
                  <li><a href="#">이용가이드</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
              </li>
              <li><a href="#">계열사</a></li>
              <li><a href="#">봉사단</a></li>
              <li><a href="#">이벤트</a></li>
            </ul>
          </nav>
          <nav class="float-right signinMenu">
            <ul class="list-h">
              <li><a href="#">로그아웃</a></li
              ><li>
                <a href="#" class="active">마이페이지</a>
                <ul class="list-h lnb-wrap">
                  <li><a href="#">대시보드</a></li>
                  <li><a href="#">기본정보</a></li>
                  <li><a href="#">활동정보</a></li>
                  <li><a href="#">1:1 문의하기</a></li>
                  <li><a href="#">교육컨텐츠</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <button class="nav-close"><span class="sr-only">메뉴 닫기</span></button>
        </div>
      </div>
    </div>
  </header>